@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;500;600;700;900&family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@font-face {
  .material-icons {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
  }
}

body {
  font-family: 'Questrial', 'Noto Serif TC', serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #010101;
}

a, a:hover, a:active, a:visited {
  color: #000000;
  text-decoration: none;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
  outline: 0;
}

img {
  width: 100%;
  display: block;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.pc {
  display: block;
}

.mob {
  display: none;
}

@media (max-width: 800px) {
  .pc {
    display: none;
  }
  .mob {
    display: block;
  }
}

.form_popup {
  width: 100%;
  height: 100%;
  min-width: 100%;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.form_popup .form_popup_box {
  width: 660px;
  height: 220px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #fff;
  text-align: center;
  padding: 40px 20px;
}

@media (max-width: 800px) {
  .form_popup .form_popup_box {
    width: 90%;
    height: 300px;
  }
}

.form_popup .form_popup_box p {
  font-size: 24px;
  line-height: 1.6;
  font-weight: 500;
}

.form_popup .form_popup_box .popup_close {
  font-size: 42px;
  position: absolute;
  right: 5px;
  top: 5px;
}

.form_popup .form_popup_box .popup_close .material-icons {
  font-size: 40px;
}

.form_popup .form_popup_box .popup_close:hover {
  cursor: pointer;
}

.form_popup.is_acted {
  opacity: 1;
  visibility: visible;
}

.btn {
  position: relative;
  background: transparent;
  overflow: hidden;
}

.btn a, .btn span {
  width: 95%;
  display: block;
  border: 1px solid #000;
  text-align: center;
  font-size: 16px;
  line-height: 55px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
}

.btn::after {
  content: "";
  width: 10%;
  height: 1px;
  background: #000;
  position: absolute;
  z-index: 1;
  left: 90%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn:hover {
  cursor: pointer;
}

.btn:hover::after {
  -webkit-animation: btn-line 1.2s cubic-bezier(0.6, 0, 0.2, 1) infinite 0s both;
          animation: btn-line 1.2s cubic-bezier(0.6, 0, 0.2, 1) infinite 0s both;
}

@-webkit-keyframes btn-line {
  0% {
    width: 0%;
    left: 90%;
  }
  50% {
    width: 100%;
    left: 100%;
  }
  100% {
    width: 0%;
    left: 100%;
  }
}

@keyframes btn-line {
  0% {
    width: 0%;
    left: 90%;
  }
  50% {
    width: 100%;
    left: 100%;
  }
  100% {
    width: 0%;
    left: 100%;
  }
}

input, button, textarea, select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  border: 0;
  position: relative;
}

.slick-slide, .slick-slide * {
  outline: none !important;
}

@-webkit-keyframes gotop {
  from {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  to {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
}

@keyframes gotop {
  from {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  to {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
}

@-webkit-keyframes goleft {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}

@keyframes goleft {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}

@-webkit-keyframes goright {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes goright {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@-webkit-keyframes goleftslow {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
}

@keyframes goleftslow {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
}

@-webkit-keyframes gorightslow {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
}

@keyframes gorightslow {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
}

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  padding: 45px;
  -webkit-transition: all .3s;
  transition: all .3s;
  opacity: 1;
}

.header.close {
  opacity: 0;
}

@media (max-width: 600px) {
  .header {
    padding: 5%;
  }
}

.header .header_logo {
  width: 186px;
  height: 38px;
  float: left;
}

@media (max-width: 600px) {
  .header .header_logo {
    width: calc(186 / 600 * 100%);
    height: auto;
  }
}

.header nav {
  width: calc( 100% - 186px);
  height: 28px;
  float: right;
  padding: 10px 0;
}

@media (max-width: 600px) {
  .header nav {
    width: calc(414 / 600 * 100%);
  }
}

.header nav .header_menu {
  float: right;
  padding: 0 40px;
  display: none;
}

@media (max-width: 960px) {
  .header nav .header_menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    float: unset;
    background: #fff;
    padding-top: 20%;
  }
}

.header nav .header_menu li {
  float: left;
  padding: 0 40px;
  border-right: 1px solid #000;
  font-size: 20px;
  line-height: 1.4;
  position: relative;
}

@media (max-width: 1200px) {
  .header nav .header_menu li {
    padding: 0 30px;
  }
}

@media (max-width: 960px) {
  .header nav .header_menu li {
    width: 100%;
    float: unset;
    padding: 0 20px;
    text-align: center;
    border-right: 0;
    line-height: 3.2;
  }
}

.header nav .header_menu li:last-child {
  border-right: 0;
}

.header nav .header_menu li:after {
  content: '';
  width: 0%;
  height: 1px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header nav .header_menu li:hover:after {
  -webkit-animation: navline 0.5s;
          animation: navline 0.5s;
}

@media (max-width: 960px) {
  .header nav .header_menu li:hover:after {
    display: none;
  }
}

@-webkit-keyframes navline {
  0% {
    width: 0%;
    left: 10%;
  }
  49% {
    width: 80%;
    left: 10%;
  }
  51% {
    width: 80%;
    left: unset;
    right: 10%;
  }
  100% {
    width: 0%;
    right: 10%;
  }
}

@keyframes navline {
  0% {
    width: 0%;
    left: 10%;
  }
  49% {
    width: 80%;
    left: 10%;
  }
  51% {
    width: 80%;
    left: unset;
    right: 10%;
  }
  100% {
    width: 0%;
    right: 10%;
  }
}

.header nav .header_control {
  float: right;
}

@media (max-width: 600px) {
  .header nav .header_control {
    margin-top: -12px;
  }
}

.header nav .header_control .menu-btn {
  display: none;
}

.header nav .header_control .menu-icon {
  width: 36px;
  height: 26px;
  cursor: pointer;
  float: right;
  position: relative;
  z-index: 5;
}

.header nav .header_control .menu-icon .navicon {
  width: 100%;
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transition: background .2s ease-out;
  transition: background .2s ease-out;
}

.header nav .header_control .menu-icon .navicon:before, .header nav .header_control .menu-icon .navicon:after {
  content: '';
  background: #a6936a;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.header nav .header_control .menu-icon .navicon:before {
  top: 4px;
}

.header nav .header_control .menu-icon .navicon:after {
  top: -4px;
}

.header nav .header_control .menu-btn:checked ~ .menu-icon .navicon:before {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.header nav .header_control .menu-btn:checked ~ .menu-icon .navicon:after {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.header nav .header_control .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header nav .header_control .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

footer {
  background: #a6936a;
  text-align: center;
  position: relative;
}

footer .footer_logo {
  padding: 60px 0;
}

@media (max-width: 960px) {
  footer .footer_logo {
    padding: 12% 0 8%;
  }
}

footer .footer_logo img {
  width: 240px;
  margin: 0 auto;
}

@media (max-width: 960px) {
  footer .footer_logo img {
    width: 25%;
  }
}

footer .footer_logo p {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  margin-top: 24px;
  letter-spacing: 2px;
}

@media (max-width: 960px) {
  footer .footer_logo p {
    font-size: 36px;
  }
}

@media (max-width: 600px) {
  footer .footer_logo p {
    font-size: 18px;
  }
}

footer .footer_menu {
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  text-align: center;
  margin-bottom: 40px;
  padding-left: 0;
}

@media (max-width: 960px) {
  footer .footer_menu {
    font-size: 24px;
    margin-bottom: 5%;
  }
}

@media (max-width: 600px) {
  footer .footer_menu {
    font-size: 16px;
  }
}

footer .footer_menu li {
  display: inline-block;
  padding: 0 18px;
  border-right: 1px solid #fff;
}

@media (max-width: 960px) {
  footer .footer_menu li {
    padding: 0 6px;
  }
}

footer .footer_menu li:last-child {
  border-right: 0;
}

footer .footer_menu li a {
  color: #fff;
  letter-spacing: 4px;
  opacity: 1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

footer .footer_menu li:hover a {
  opacity: .7;
}

footer .copyright {
  width: 80%;
  line-height: 50px;
  margin: 0 auto;
  padding-bottom: 25px;
  font-size: 14px;
  text-align: left;
  color: #fff;
  border-top: 1px solid #fff;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 1px;
  position: relative;
}

@media (max-width: 960px) {
  footer .copyright {
    width: 94%;
    font-size: 2vw;
    line-height: 1.4;
    padding: 5% 0;
    margin-top: 10%;
  }
}

footer .copyright .gotop {
  width: 180px;
  font-size: 18px;
  color: #fff;
  position: absolute;
  right: 0;
  top: -26px;
  padding: 0 20px;
  background-color: #a6936a;
}

@media (max-width: 960px) {
  footer .copyright .gotop {
    width: 230px;
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  footer .copyright .gotop {
    width: 140px;
    font-size: 13px;
    top: -10px;
    padding: 0 10px;
  }
}

footer .copyright .gotop:after {
  content: "";
  width: 0;
  height: 0;
  display: inline-block;
  border-style: solid;
  border-width: 0 7px 14px 7px;
  border-color: transparent transparent #fff transparent;
  opacity: 1;
  margin-left: 5px;
}

@media (max-width: 600px) {
  footer .copyright .gotop:after {
    border-width: 0 5px 10px 5px;
  }
}

footer .copyright .gotop:hover {
  cursor: pointer;
}

footer .copyright .gotop:hover:after {
  -webkit-animation: gotop 1s alternate infinite linear;
          animation: gotop 1s alternate infinite linear;
}

section h2 {
  font-size: 46px;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 6px;
}

@media (max-width: 960px) {
  section h2 {
    font-size: 36px;
  }
}

@media (max-width: 600px) {
  section h2 {
    font-size: 28px;
  }
}

section h3 {
  font-size: 22px;
  line-height: 1;
  font-weight: 200;
  letter-spacing: 1px;
  color: #a6936a;
}

@media (max-width: 960px) {
  section h3 {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  section h3 {
    font-size: 14px;
  }
}

section .more, section .send {
  width: 100%;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

section .more a, section .send a {
  padding: 0 10px;
  color: #a6936a;
  font-size: 22px;
  line-height: 1.8;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

section .more:after, section .send:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-style: solid;
  border-width: 7px 0 7px 14px;
  border-color: transparent transparent transparent #a6936a;
  position: absolute;
  right: 10px;
  top: 13px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

section .more:hover, section .send:hover {
  background-color: #a6936a;
}

section .more:hover a, section .send:hover a {
  color: #fff;
}

section .more:hover:after, section .send:hover:after {
  border-color: transparent transparent transparent #fff;
}

section .page_aboutus {
  padding: 200px 0 60px;
  background: url(../img/page_aboutus_bg_top.png) center top no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

@media (max-width: 1920px) {
  section .page_aboutus {
    background-size: 1920px auto;
  }
}

@media (max-width: 960px) {
  section .page_aboutus {
    background-size: 1600px auto;
    padding-top: 20%;
  }
}

@media (max-width: 600px) {
  section .page_aboutus {
    background-size: 1200px auto;
    padding-top: 20%;
  }
}

section .page_aboutus .bg {
  width: 100%;
  height: 100%;
  background: url(../img/page_aboutus_bg_bottom.png) center 700px no-repeat;
  background-size: 100% auto;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

@media (max-width: 800px) {
  section .page_aboutus .bg {
    background: url(../img/page_aboutus_bg_bottom_mob.png) center 380px no-repeat;
  }
}

section .page_aboutus .bg:after {
  content: "";
  width: 100%;
  height: 300px;
  position: absolute;
  bottom: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(20%, rgba(255, 255, 255, 0.5)));
  background-image: linear-gradient(to top, white 0%, rgba(255, 255, 255, 0.5) 20%);
}

section .page_aboutus .aboutus_title {
  width: 100%;
  padding-left: 10%;
  position: relative;
  overflow: hidden;
}

section .page_aboutus .aboutus_title h2 {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  float: left;
  margin-right: 10px;
}

section .page_aboutus .aboutus_title h3 {
  float: left;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

section .page_aboutus .aboutus_content {
  width: 85%;
  margin: 0 auto;
  margin-top: 450px;
  position: relative;
  z-index: 5;
}

@media (max-width: 960px) {
  section .page_aboutus .aboutus_content {
    margin-top: 360px;
  }
}

@media (max-width: 600px) {
  section .page_aboutus .aboutus_content {
    margin-top: 300px;
  }
}

section .page_aboutus .aboutus_content p {
  font-size: 18px;
  line-height: 2.2;
  text-align: center;
  margin-top: 60px;
}

section .page_aboutus .aboutus_content .video {
  width: 100%;
  height: 720px;
  margin: 120px 0;
}

@media (max-width: 960px) {
  section .page_aboutus .aboutus_content .video {
    height: 460px;
  }
}

@media (max-width: 800px) {
  section .page_aboutus .aboutus_content .video {
    height: 380px;
    margin: 40px 0;
  }
}

@media (max-width: 600px) {
  section .page_aboutus .aboutus_content .video {
    height: 280px;
  }
}

@media (max-width: 400px) {
  section .page_aboutus .aboutus_content .video {
    height: 200px;
  }
}
/*# sourceMappingURL=aboutus.css.map */