@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;500;600;700;900&family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@font-face {
  .material-icons {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
  }
}

body {
  font-family: 'Questrial', 'Noto Serif TC', serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000000;
}

a, a:hover, a:active, a:visited {
  color: #000000;
  text-decoration: none;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
  outline: 0;
}

img {
  width: 100%;
  display: block;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.btn {
  position: relative;
  background: transparent;
  overflow: hidden;
}

.btn a, .btn span {
  width: 95%;
  display: block;
  border: 1px solid #000;
  text-align: center;
  font-size: 16px;
  line-height: 55px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
}

.btn::after {
  content: "";
  width: 10%;
  height: 1px;
  background: #000;
  position: absolute;
  z-index: 1;
  left: 90%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn:hover {
  cursor: pointer;
}

.btn:hover::after {
  -webkit-animation: btn-line 1.2s cubic-bezier(0.6, 0, 0.2, 1) infinite 0s both;
          animation: btn-line 1.2s cubic-bezier(0.6, 0, 0.2, 1) infinite 0s both;
}

@-webkit-keyframes btn-line {
  0% {
    width: 0%;
    left: 90%;
  }
  50% {
    width: 100%;
    left: 100%;
  }
  100% {
    width: 0%;
    left: 100%;
  }
}

@keyframes btn-line {
  0% {
    width: 0%;
    left: 90%;
  }
  50% {
    width: 100%;
    left: 100%;
  }
  100% {
    width: 0%;
    left: 100%;
  }
}

input, button, textarea {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  border: 0;
  padding: 10px 20px;
  position: relative;
}

.popup {
  width: 100%;
  min-height: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.popup .popup_content {
  text-align: center;
  background-color: #fff;
  color: #000000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.popup .popup_content.popup_img {
  width: 600px;
  height: 600px;
  padding: 50px;
}

@media (max-width: 600px) {
  .popup .popup_content.popup_img {
    width: 100vw;
    height: 100vw;
    padding: 10vw;
  }
}

.popup .popup_content.popup_mov, .popup .popup_content iframe {
  width: 1080px;
  height: 608px;
  outline: 10px solid #fff;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .popup .popup_content.popup_mov, .popup .popup_content iframe {
    width: 800px;
    height: 450px;
  }
}

@media (max-width: 1000px) {
  .popup .popup_content.popup_mov, .popup .popup_content iframe {
    width: 640px;
    height: 362px;
  }
}

@media (max-width: 660px) {
  .popup .popup_content.popup_mov, .popup .popup_content iframe {
    width: 400px;
    height: 226px;
  }
}

@media (max-width: 420px) {
  .popup .popup_content.popup_mov, .popup .popup_content iframe {
    width: 320px;
    height: 180px;
  }
}

@media (max-width: 400px) {
  .popup .popup_content.popup_mov, .popup .popup_content iframe {
    width: 280px;
    height: 157px;
  }
}

.popup .popup_content.popup_code {
  width: 500px;
  height: 500px;
  padding: 20px;
}

@media (max-width: 600px) {
  .popup .popup_content.popup_code {
    width: 100vw;
    height: 100vw;
    padding: 10vw;
  }
}

.popup .popup_content.popup_message {
  width: 320px;
  height: 60px;
  line-height: 60px;
}

.popup .popup_content .close {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 10;
  right: 6px;
  top: 6px;
  text-align: center;
}

.popup .popup_content .close i {
  font-size: 32px;
  line-height: 40px;
}

.popup .popup_content .close:hover {
  cursor: pointer;
}

.popup.is_acted {
  opacity: 1;
  visibility: visible;
}

.slick-slide, .slick-slide * {
  outline: none !important;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 45px;
}

.header .header_logo {
  width: 186px;
  height: 38px;
  float: left;
}

.header nav {
  width: calc( 100% - 186px);
  float: right;
  padding: 10px 0;
}

.header nav .header_menu {
  float: right;
  padding: 0 40px;
  display: none;
}

.header nav .header_menu li {
  float: left;
  padding: 0 60px;
  border-right: 1px solid #000;
  font-size: 20px;
  line-height: 1.4;
}

.header nav .header_menu li:last-child {
  border-right: 0;
}

.header nav .header_control {
  float: right;
}

.header nav .header_control .menu-btn {
  display: none;
}

.header nav .header_control .menu-icon {
  width: 36px;
  height: 26px;
  cursor: pointer;
  float: right;
  position: relative;
  z-index: 5;
}

.header nav .header_control .menu-icon .navicon {
  width: 100%;
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transition: background .2s ease-out;
  transition: background .2s ease-out;
}

.header nav .header_control .menu-icon .navicon:before, .header nav .header_control .menu-icon .navicon:after {
  content: '';
  background: #000;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.header nav .header_control .menu-icon .navicon:before {
  top: 4px;
}

.header nav .header_control .menu-icon .navicon:after {
  top: -4px;
}

.header nav .header_control .menu-btn:checked ~ .menu-icon .navicon:before {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.header nav .header_control .menu-btn:checked ~ .menu-icon .navicon:after {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.header nav .header_control .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header nav .header_control .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

section .theme {
  position: relative;
}

section .theme.online_project {
  padding-bottom: calc(160/2028*100%);
}

section .theme .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  section .theme .container {
    width: 90%;
  }
}

section .theme .blockItem {
  width: 150px;
  height: 30px;
  text-align: center;
  position: absolute;
  z-index: 8;
  top: 50%;
  left: -50px;
  color: #000;
  font-size: 14px;
  line-height: 30px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
}

@media (max-width: 960px) {
  section .theme .blockItem {
    display: none;
  }
}

section .theme .blockItem.white {
  color: #fff;
}

section .theme .desc {
  font-size: 18px;
  line-height: 32px;
  font-weight: 100;
  margin-top: 50px;
  text-align: center;
}

@media (max-width: 600px) {
  section .theme .desc {
    font-size: 14px;
  }
}

section .theme .txtBox {
  position: relative;
}

section .theme .txtBox .number {
  font-size: 150px;
  -webkit-text-stroke: 1px #fff;
  font-family: 'Noto Serif TC', serif;
  color: transparent;
  font-weight: 900;
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 1200px) {
  section .theme .txtBox .number {
    top: 24%;
    left: 110px;
  }
}

@media (max-width: 800px) {
  section .theme .txtBox .number {
    top: 18%;
  }
}

@media (max-width: 600px) {
  section .theme .txtBox .number {
    font-size: 120px;
    top: 15%;
    left: 15%;
  }
}

@media (max-width: 420px) {
  section .theme .txtBox .number {
    font-size: 100px;
  }
}

section .theme .txtBox .title {
  font-size: 18px;
  margin-top: 50px;
  position: relative;
  z-index: 5;
  font-weight: 100;
  letter-spacing: 1px;
  text-align: center;
}

@media (max-width: 1200px) {
  section .theme .txtBox .title {
    text-align: left;
    margin-left: 60px;
  }
}

section .theme .txtBox .title span {
  font-size: 36px;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  display: block;
}

@media (max-width: 480px) {
  section .theme .txtBox .title span {
    font-size: 28px;
  }
}

section .theme .btn {
  width: 80%;
  margin-left: 60px;
  margin-top: 45px;
}

@media (max-width: 800px) {
  section .theme .btn {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

section .theme .bottomtxt {
  width: 100%;
  height: 0;
  padding-bottom: calc(160/2028*100%);
  position: absolute;
  bottom: 0;
  left: 0;
}

section .theme .pagingInfo {
  width: calc(100% - 240px);
  margin: 0 auto;
  position: relative;
  z-index: 1;
  margin-top: 80px;
}

@media (max-width: 1200px) {
  section .theme .pagingInfo {
    margin-top: 36px;
  }
}

@media (max-width: 800px) {
  section .theme .pagingInfo {
    width: calc(100% - 150px);
    margin-top: 30px;
  }
}

section .theme .pagingInfo > div {
  font-family: 'Noto Serif TC', serif;
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
}

section .theme .pagingInfo .progressBar {
  width: 240px;
  height: 1px;
  position: relative;
  background: #bbb;
}

@media (max-width: 1200px) {
  section .theme .pagingInfo .progressBar {
    width: calc( 100% - 150px);
  }
}

section .theme .pagingInfo .progressBar .coverline {
  height: 1px;
  left: 0;
  top: 0;
  position: absolute;
  background: #000;
}

section .home_currentpj {
  padding-top: 100px;
  overflow: hidden;
}

@media (max-width: 1200px) {
  section .home_currentpj {
    padding-top: 0;
  }
}

section .home_currentpj .imgBox {
  width: calc(1136/1920*100%);
  float: left;
  padding-bottom: 100px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

@media (max-width: 1200px) {
  section .home_currentpj .imgBox {
    width: 90%;
    padding: 5% 0;
  }
}

section .home_currentpj .imgBox .innerBox {
  width: calc(100% + 120px);
}

@media (max-width: 800px) {
  section .home_currentpj .imgBox .innerBox {
    width: calc(100% + 80px);
  }
}

section .home_currentpj .imgBox .innerBox .photo {
  width: 100%;
  height: 0;
  padding: 0 20px 66%;
  overflow: hidden;
}

section .home_currentpj .txtBox {
  width: calc(650/1920*100%);
  float: right;
  margin-right: calc(100/1920*100%);
  background: #eee;
  margin-top: calc(190/1920*100%);
  padding-top: calc(68/1920*100%);
  padding-bottom: calc(120/1920*100%);
  padding-right: calc(78/1920*100%);
  position: relative;
  z-index: 0;
  overflow: visible;
}

@media (max-width: 1200px) {
  section .home_currentpj .txtBox {
    width: 100%;
    float: unset;
    padding: 10% 5%;
    margin-top: 0;
  }
  section .home_currentpj .txtBox:after {
    content: "";
    width: 100%;
    height: 200px;
    display: block;
    position: absolute;
    bottom: -200px;
    left: 0;
    background: #eee;
  }
}

@media (max-width: 600px) {
  section .home_currentpj .txtBox:after {
    height: 100px;
    bottom: -100px;
  }
}

section .home_currentpj .txtBox:before {
  content: "";
  width: calc(400/1920*100%);
  height: 100%;
  display: block;
  background: #eee;
  position: absolute;
  z-index: 0;
  top: 0;
  left: calc(-400/1920*100%);
}

section .home_currentpj .txtBox .number {
  font-size: 150px;
  -webkit-text-stroke: 1px #fff;
  font-family: 'Noto Serif TC', serif;
  color: transparent;
  font-weight: 900;
  position: absolute;
  z-index: 1;
  top: 130px;
  left: 110px;
}

@media (max-width: 1200px) {
  section .home_currentpj .txtBox .number {
    top: 24%;
  }
}

@media (max-width: 800px) {
  section .home_currentpj .txtBox .number {
    top: 18%;
  }
}

@media (max-width: 600px) {
  section .home_currentpj .txtBox .number {
    font-size: 120px;
    top: 15%;
    left: 15%;
  }
}

@media (max-width: 420px) {
  section .home_currentpj .txtBox .number {
    font-size: 100px;
  }
}

section .home_currentpj .txtBox .title {
  text-align: left;
  margin-left: 60px;
}

@media (max-width: 1200px) {
  section .home_currentpj .txtBox .title {
    margin-top: 0;
  }
}

@media (max-width: 800px) {
  section .home_currentpj .txtBox .title {
    margin-left: 0;
  }
}

section .home_currentpj .txtBox h4 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 72px;
  margin-left: 60px;
  margin-bottom: 20px;
  font-weight: 600;
  color: #000;
}

@media (max-width: 800px) {
  section .home_currentpj .txtBox h4 {
    margin-left: 0;
  }
}

section .home_currentpj .txtBox p {
  width: calc(100% - 60px);
  font-size: 18px;
  line-height: 32px;
  margin-left: 60px;
  text-align: justify;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media (max-width: 800px) {
  section .home_currentpj .txtBox p {
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  section .home_currentpj .txtBox p {
    font-size: 14px;
  }
}

section .home_kv, section .home_kvImg {
  width: auto;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

@media (max-width: 800px) {
  section .home_kv, section .home_kvImg {
    height: 80vh;
  }
}

section .home_kv .item, section .home_kvImg .item {
  margin-bottom: -4px;
}

section .home_kv img.pc, section .home_kvImg img.pc {
  display: block;
}

section .home_kv img.mob, section .home_kvImg img.mob {
  display: none;
}

@media (max-width: 800px) {
  section .home_kv img.pc, section .home_kvImg img.pc {
    display: none;
  }
  section .home_kv img.mob, section .home_kvImg img.mob {
    display: block;
  }
}

section .home_kv .scroll, section .home_kvImg .scroll {
  width: 20px;
  height: 192px;
  position: absolute;
  z-index: 8;
  left: 50px;
  bottom: 0;
}

@media (max-width: 960px) {
  section .home_kv .scroll, section .home_kvImg .scroll {
    height: 160px;
    left: 30px;
  }
}

@media (max-width: 960px) {
  section .home_kv .scroll, section .home_kvImg .scroll {
    display: none;
  }
}

section .home_kv .scroll p, section .home_kvImg .scroll p {
  color: #fff;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: sideways;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  font-size: 16px;
  line-height: 1;
  vertical-align: middle;
}

@media (max-width: 960px) {
  section .home_kv .scroll p, section .home_kvImg .scroll p {
    font-size: 14px;
  }
}

section .home_kv .scroll .scroll_content, section .home_kvImg .scroll .scroll_content {
  width: 1px;
  height: 120px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 12px;
}

@media (max-width: 960px) {
  section .home_kv .scroll .scroll_content, section .home_kvImg .scroll .scroll_content {
    height: 100px;
  }
}

section .home_kv .scroll .scroll_content:before, section .home_kvImg .scroll .scroll_content:before {
  content: "";
  width: 1px;
  height: 72px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: scroll 1s infinite ease-in;
          animation: scroll 1s infinite ease-in;
}

@media (max-width: 960px) {
  section .home_kv .scroll .scroll_content:before, section .home_kvImg .scroll .scroll_content:before {
    height: 60px;
  }
}

@-webkit-keyframes scroll {
  0% {
    height: 0px;
    top: 0px;
  }
  50% {
    height: 80%;
    top: 60%;
  }
  100% {
    height: 0px;
    top: 100%;
  }
}

@keyframes scroll {
  0% {
    height: 0px;
    top: 0px;
  }
  50% {
    height: 80%;
    top: 60%;
  }
  100% {
    height: 0px;
    top: 100%;
  }
}

section .home_kvImg {
  height: 0;
  padding-bottom: calc(842/1920*100%);
}

@media (max-width: 800px) {
  section .home_kvImg {
    padding-bottom: calc(1654/1125*100%);
  }
}

section .mouse_video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

section .mouse_video.mob {
  width: 80px;
  height: 80px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
}

section .overlay_Video {
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
}

section .overlay_Video.is-acted {
  opacity: 1;
  visibility: visible;
}

section .overlay_Video iframe {
  width: 560px;
  height: 315px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

section .overlay_Video .video_close {
  position: fixed;
  z-index: 6;
  top: 10px;
  right: 10px;
}

section .overlay_Video .video_close:hover {
  cursor: pointer;
}

section .overlay_Video .video_close i {
  color: #fff;
  font-size: 50px;
}

section .home_news {
  padding: 80px 0 100px;
  background: url(../img/index/news_bg.jpg) center top no-repeat;
  position: relative;
  background-attachment: fixed;
}

@media (max-width: 800px) {
  section .home_news {
    background: url(../img/index/news_mob_bg.jpg) center top no-repeat;
    background-size: cover;
  }
}

section .home_news .news {
  margin-top: 100px;
}

section .home_news .news li {
  height: 90px;
  line-height: 90px;
  border-bottom: 1px solid #fff;
}

section .home_news .news li a > div {
  -webkit-transition: all .3s;
  transition: all .3s;
}

section .home_news .news li .newsDate {
  width: 200px;
  float: left;
  margin-left: 20px;
  font-size: 16px;
}

@media (max-width: 800px) {
  section .home_news .news li .newsDate {
    width: 100px;
    font-size: 14px;
  }
}

section .home_news .news li .newsTitle {
  width: calc(100% - 300px);
  float: left;
  margin-left: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
}

@media (max-width: 800px) {
  section .home_news .news li .newsTitle {
    width: calc(100% - 200px);
    font-size: 16px;
  }
}

section .home_news .news li .newsArrow {
  width: 30px;
  float: left;
  margin-left: 25px;
  line-height: 90px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

section .home_news .news li:first-child {
  border-top: 1px solid #fff;
}

section .home_news .news li:hover a > div {
  text-decoration: underline;
}

section .home_news .news li:hover .newsArrow {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

section .home_news .btn {
  width: 480px;
  margin: 100px auto 0;
}

@media (max-width: 800px) {
  section .home_news .btn {
    width: 90%;
  }
}

section .home_benefits {
  padding: 80px 0 100px;
  overflow: hidden;
}

@media (max-width: 800px) {
  section .home_benefits {
    padding-bottom: 50px;
  }
}

section .home_benefits .txtBox .number {
  -webkit-text-stroke: 1px #eee;
}

section .home_benefits .btn {
  width: 480px;
  margin: 60px auto 0;
}

@media (max-width: 800px) {
  section .home_benefits .btn {
    width: 90%;
  }
}

section .home_benefits .eventBox {
  width: 120%;
  margin-top: 100px;
}

section .home_benefits .eventBox ul {
  width: 100%;
}

section .home_benefits .eventBox ul li {
  height: auto;
}

section .home_benefits .eventBox ul li img {
  height: auto;
}

section .home_benefits .eventBox ul li:hover {
  cursor: pointer;
}

section .home_benefits .eventBox ul li:hover a, section .home_benefits .eventBox ul li:hover img {
  cursor: pointer;
}

section .home_benefits .eventBox .bx-wrapper {
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  background: transparent;
  margin-bottom: 30px;
}

section .home_about {
  background: url(../img/index/about_bg.jpg) center 160px no-repeat;
  padding-bottom: 90px;
  overflow: hidden;
}

@media (max-width: 1600px) {
  section .home_about {
    background-position: 0 160px;
  }
}

@media (max-width: 960px) {
  section .home_about {
    background: url(../img/index/about_mob_bg.jpg) 0 160px no-repeat;
    background-size: cover;
  }
}

section .home_about .container {
  max-width: 1300px;
  margin: 0 auto;
}

@media (max-width: 1400px) {
  section .home_about .container {
    width: 90%;
  }
}

section .home_about .topBox {
  overflow: hidden;
}

@media (max-width: 960px) {
  section .home_about .topBox {
    background-color: #fff;
  }
}

section .home_about .topBox .awards {
  width: 153px;
  float: left;
  position: relative;
  z-index: 2;
}

@media (max-width: 960px) {
  section .home_about .topBox .awards {
    float: unset;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  section .home_about .topBox .awards {
    width: 100px;
    margin-bottom: 20px;
  }
}

section .home_about .topBox h3 {
  width: calc(530/1300*100%);
  float: left;
  font-size: 22px;
  line-height: 36px;
  color: #5e6165;
  font-family: 'Noto Serif TC', serif;
  font-weight: 700;
  text-align: right;
}

@media (max-width: 1280px) {
  section .home_about .topBox h3 {
    width: calc(100% - 180px);
    margin-left: 27px;
    text-align: left;
  }
}

@media (max-width: 960px) {
  section .home_about .topBox h3 {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
}

@media (max-width: 600px) {
  section .home_about .topBox h3 {
    font-size: 18px;
    line-height: 26px;
  }
}

section .home_about .topBox p {
  float: left;
  font-size: 18px;
  line-height: 36px;
  color: #5e6165;
  font-weight: 300;
  margin-left: calc(60/1300*100%);
}

@media (max-width: 1280px) {
  section .home_about .topBox p {
    width: calc(100% - 180px);
    margin-left: 27px;
    text-align: left;
  }
}

@media (max-width: 960px) {
  section .home_about .topBox p {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
}

@media (max-width: 600px) {
  section .home_about .topBox p {
    font-size: 15px;
    line-height: 26px;
  }
}

section .home_about .txtBox {
  width: calc(620/1300*100%);
  float: left;
}

@media (max-width: 1400px) {
  section .home_about .txtBox {
    width: calc(520/1300*100%);
  }
}

@media (max-width: 960px) {
  section .home_about .txtBox {
    width: 100%;
    float: unset;
  }
}

section .home_about .txtBox .number {
  top: 50px;
  left: 0;
}

section .home_about .txtBox .title {
  text-align: left;
}

section .home_about .txtBox h4 {
  color: #5e6165;
  font-size: 26px;
  line-height: 36px;
  font-family: 'Noto Serif TC', serif;
  font-weight: 700;
  margin-top: 100px;
}

section .home_about .txtBox ul {
  margin-top: 30px;
}

section .home_about .txtBox ul li {
  font-size: 18px;
  line-height: 36px;
  font-weight: 300;
}

@media (max-width: 600px) {
  section .home_about .txtBox ul li {
    font-size: 14px;
  }
}

section .home_about .txtBox ul li span {
  display: inline-block;
}

section .home_about .txtBox .btn {
  margin-left: 0;
}

@media (max-width: 960px) {
  section .home_about .txtBox .btn {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 800px) {
  section .home_about .txtBox .btn {
    width: 90%;
  }
}

section .home_about .serviceBox {
  width: calc(680/1300*100%);
  height: 0;
  padding-bottom: calc(680/1300*100%);
  float: right;
  margin-top: 60px;
  position: relative;
}

section .home_about .serviceBox img {
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 1400px) {
  section .home_about .serviceBox {
    width: calc(780/1300*100%);
  }
}

@media (max-width: 960px) {
  section .home_about .serviceBox {
    width: 100%;
    float: unset;
    margin: 50px auto 0;
    padding-bottom: 100%;
  }
}

section .home_charity {
  padding: 100px 0;
}

@media (max-width: 800px) {
  section .home_charity {
    padding-bottom: 20px;
  }
}

section .home_charity.container {
  max-width: 1520px;
  margin: 0 auto;
  overflow: hidden;
}

section .home_charity.container .txtBox {
  width: 160px;
  float: left;
  margin-left: 80px;
  position: relative;
  margin-right: 20px;
}

@media (max-width: 800px) {
  section .home_charity.container .txtBox {
    width: 100%;
    float: unset;
    margin-left: auto;
    margin-right: auto;
  }
}

section .home_charity.container .txtBox .number {
  -webkit-text-stroke: 1px #eee;
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 10px;
}

@media (max-width: 800px) {
  section .home_charity.container .txtBox .number {
    left: 50%;
    top: 30px;
  }
}

section .home_charity.container .txtBox .title {
  text-align: right;
  margin-top: 0;
  margin-left: 0;
}

@media (max-width: 800px) {
  section .home_charity.container .txtBox .title {
    width: 100%;
    text-align: center;
  }
}

section .home_charity.container .charityBox {
  width: calc(100% - 300px);
  float: right;
  margin-top: 10px;
}

@media (max-width: 800px) {
  section .home_charity.container .charityBox {
    width: 100%;
    float: unset;
  }
}

section .home_charity.container .charityBox p {
  width: 100%;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}

@media (max-width: 800px) {
  section .home_charity.container .charityBox p {
    text-align: center;
  }
}

@media (max-width: 600px) {
  section .home_charity.container .charityBox p {
    font-size: 14px;
  }
}

section .home_charitymemory.container {
  max-width: 1500px;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  section .home_charitymemory.container {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  section .home_charitymemory.container {
    width: 96%;
  }
}

section .home_charitymemory.container .timeBox .year {
  height: 80px;
  text-align: center;
  position: relative;
}

section .home_charitymemory.container .timeBox .year:before, section .home_charitymemory.container .timeBox .year:after {
  content: "...................................................................................................................................................";
  width: 50%;
  height: 12px;
  line-height: 12px;
  font-size: 12px;
  display: block;
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -10px;
  overflow: hidden;
  letter-spacing: 2px;
}

section .home_charitymemory.container .timeBox .year:before {
  left: 0;
}

section .home_charitymemory.container .timeBox .year:after {
  right: 0;
}

section .home_charitymemory.container .timeBox .year span {
  font-family: 'Cardo', serif;
  font-size: 48px;
  line-height: 80px;
  color: #ececec;
  font-weight: 400;
  font-style: italic;
  -webkit-transition: all .3s;
  transition: all .3s;
  padding: 0 20px;
  display: inline-block;
  position: relative;
  z-index: 2;
  background-color: #fff;
}

@media (max-width: 960px) {
  section .home_charitymemory.container .timeBox .year span {
    font-size: 32px;
  }
}

@media (max-width: 800px) {
  section .home_charitymemory.container .timeBox .year span {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  section .home_charitymemory.container .timeBox .year span {
    font-size: 15px;
    padding: 0 5px;
  }
}

section .home_charitymemory.container .timeBox .year span:before, section .home_charitymemory.container .timeBox .year span:after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -3px;
  background-color: #5e6165;
}

@media (max-width: 480px) {
  section .home_charitymemory.container .timeBox .year span:before, section .home_charitymemory.container .timeBox .year span:after {
    display: none;
  }
}

section .home_charitymemory.container .timeBox .year span:before {
  left: 0;
}

section .home_charitymemory.container .timeBox .year span:after {
  right: 0;
}

section .home_charitymemory.container .timeBox .slick-slide:first-child .year:before {
  display: none;
}

section .home_charitymemory.container .timeBox .slick-slide:first-child .year span:before {
  display: none;
}

section .home_charitymemory.container .timeBox .slick-slide:last-child .year:after {
  display: none;
}

section .home_charitymemory.container .timeBox .slick-slide:last-child .year span:after {
  display: none;
}

section .home_charitymemory.container .timeBox .slick-current .year {
  height: 80px;
}

section .home_charitymemory.container .timeBox .slick-current .year span {
  line-height: 80px;
  color: #5e6165;
  font-size: 80px;
}

@media (max-width: 960px) {
  section .home_charitymemory.container .timeBox .slick-current .year span {
    font-size: 60px;
  }
}

@media (max-width: 800px) {
  section .home_charitymemory.container .timeBox .slick-current .year span {
    font-size: 40px;
  }
}

@media (max-width: 480px) {
  section .home_charitymemory.container .timeBox .slick-current .year span {
    font-size: 36px;
  }
}

section .home_charitymemory.container .caseBox {
  margin-top: 45px;
  position: relative;
}

@media (max-width: 800px) {
  section .home_charitymemory.container .caseBox {
    margin-top: 0;
  }
}

section .home_charitymemory.container .caseBox .caseItem {
  background: url(../img/index/charity_bg.png) 10% center no-repeat #ececec;
  overflow: hidden;
}

@media (max-width: 1200px) {
  section .home_charitymemory.container .caseBox .caseItem {
    background-position: center 5%;
  }
}

section .home_charitymemory.container .caseBox .caseItem .txtBox {
  width: 50%;
  height: 500px;
  float: left;
  padding: 50px;
  position: relative;
}

@media (max-width: 1200px) {
  section .home_charitymemory.container .caseBox .caseItem .txtBox {
    width: 100%;
  }
}

@media (max-width: 800px) {
  section .home_charitymemory.container .caseBox .caseItem .txtBox {
    padding: 80px 20px 120px;
    height: auto;
  }
}

section .home_charitymemory.container .caseBox .caseItem .txtBox .txtItem {
  height: 240px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media (max-width: 800px) {
  section .home_charitymemory.container .caseBox .caseItem .txtBox .txtItem {
    height: auto;
    position: static;
    top: unset;
    right: unset;
    bottom: unset;
    left: unset;
  }
}

section .home_charitymemory.container .caseBox .caseItem .txtBox .txtItem h4 {
  color: #5e6165;
  font-size: 30px;
  line-height: 36px;
  font-family: 'Noto Serif TC', serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  section .home_charitymemory.container .caseBox .caseItem .txtBox .txtItem h4 {
    font-size: 22px;
    line-height: 28px;
  }
}

section .home_charitymemory.container .caseBox .caseItem .txtBox .txtItem p {
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

@media (max-width: 600px) {
  section .home_charitymemory.container .caseBox .caseItem .txtBox .txtItem p {
    font-size: 14px;
    line-height: 22px;
  }
}

section .home_charitymemory.container .caseBox .caseItem .imgBox {
  width: 50%;
  float: left;
  position: relative;
}

@media (max-width: 1380px) {
  section .home_charitymemory.container .caseBox .caseItem .imgBox {
    padding: 5%;
  }
}

@media (max-width: 1200px) {
  section .home_charitymemory.container .caseBox .caseItem .imgBox {
    width: 100%;
    padding: 0;
  }
}

section .home_charitymemory.container .caseBox .caseItem .slick-slide {
  position: relative;
  margin-bottom: -4px !important;
}

section .home_charitymemory.container .caseBox .caseItem .slick-slide .case_overlay {
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #cbeeff;
}

section .home_charitymemory.container .caseBox .caseItem .slick-slide.slick-active .case_overlay {
  -webkit-animation: overlay .6s .2s both;
          animation: overlay .6s .2s both;
}

@-webkit-keyframes overlay {
  0% {
    width: 100%;
    left: 0;
  }
  99% {
    width: 100%;
    left: 100%;
  }
  100% {
    width: 0%;
    left: 100%;
  }
}

@keyframes overlay {
  0% {
    width: 100%;
    left: 0;
  }
  99% {
    width: 100%;
    left: 100%;
  }
  100% {
    width: 0%;
    left: 100%;
  }
}

section .home_charitymemory.container .caseBox .pagingInfo, section .home_charitymemory.container .caseBox .slider__counter {
  font-family: 'Noto Serif TC', serif !important;
  width: 400px;
  position: absolute;
  z-index: 5;
  bottom: 60px;
  left: 50px;
  font-size: 16px;
}

@media (max-width: 1200px) {
  section .home_charitymemory.container .caseBox .pagingInfo, section .home_charitymemory.container .caseBox .slider__counter {
    width: calc(100% - 200px);
    bottom: unset;
    top: 440px;
  }
}

@media (max-width: 800px) {
  section .home_charitymemory.container .caseBox .pagingInfo, section .home_charitymemory.container .caseBox .slider__counter {
    width: calc(100% - 80px);
    top: 326px;
    left: 20px;
  }
}

@media (max-width: 600px) {
  section .home_charitymemory.container .caseBox .pagingInfo, section .home_charitymemory.container .caseBox .slider__counter {
    top: 256px;
  }
}

@media (max-width: 440px) {
  section .home_charitymemory.container .caseBox .pagingInfo, section .home_charitymemory.container .caseBox .slider__counter {
    top: 296px;
  }
}

@media (max-width: 380px) {
  section .home_charitymemory.container .caseBox .pagingInfo, section .home_charitymemory.container .caseBox .slider__counter {
    top: 316px;
  }
}

section .home_charitymemory.container .caseBox .pagingInfo .progressBar, section .home_charitymemory.container .caseBox .slider__counter .progressBar {
  width: 100%;
  display: inline-block;
  width: 240px;
  height: 1px;
  position: relative;
  background: #bbb;
  vertical-align: middle;
  margin: 0 10px;
}

@media (max-width: 1200px) {
  section .home_charitymemory.container .caseBox .pagingInfo .progressBar, section .home_charitymemory.container .caseBox .slider__counter .progressBar {
    width: calc( 100% - 100px);
  }
}

section .home_charitymemory.container .caseBox .pagingInfo .progressBar .coverline, section .home_charitymemory.container .caseBox .slider__counter .progressBar .coverline {
  width: 20%;
  height: 1px;
  left: 0;
  top: 0;
  position: absolute;
  background: #000;
}

section .home_contact {
  padding: 60px 0;
  margin-top: 100px;
  background-color: #ececec;
  position: relative;
  z-index: 5;
}

@media (max-width: 800px) {
  section .home_contact .txtBox .number {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: -50px;
  }
}

@media (max-width: 800px) {
  section .home_contact .txtBox .title {
    text-align: center;
    margin: 0 auto;
  }
}

section .home_contact .contactForm {
  background-color: #fff;
}

section .home_contact .contactForm.container {
  width: 90%;
  max-width: 1500px;
  margin: 60px auto 0;
  padding: 50px;
}

section .home_contact .contactForm .formBox {
  overflow: hidden;
  padding-bottom: 30px;
}

section .home_contact .contactForm .formBox .group {
  width: 48%;
  float: left;
  margin-right: 4%;
}

@media (max-width: 1200px) {
  section .home_contact .contactForm .formBox .group {
    width: 100%;
    float: unset;
    margin: 0 auto;
  }
}

section .home_contact .contactForm .formBox .group:nth-child(2) {
  margin-right: 0;
}

@media (max-width: 1200px) {
  section .home_contact .contactForm .formBox .group:nth-child(2) {
    margin: 0 auto;
  }
}

section .home_contact .contactForm .formBox .group .item {
  width: 100%;
  border-bottom: 1px solid #9c9c9c;
  margin-top: 20px;
  overflow: hidden;
}

section .home_contact .contactForm .formBox .group .item:first-child {
  margin-top: 0;
}

section .home_contact .contactForm .formBox .group .item.noline {
  border-bottom: 0;
  margin-top: 30px;
}

@media (max-width: 640px) {
  section .home_contact .contactForm .formBox .group .item.noline {
    width: 220px;
    margin: 0 auto;
  }
}

section .home_contact .contactForm .formBox .group .item label {
  width: 120px;
  float: left;
  height: 80px;
  line-height: 80px;
  font-size: 18px;
  font-weight: 300;
}

section .home_contact .contactForm .formBox .group .item label.checktxt {
  width: calc( 100% - 220px);
}

@media (max-width: 640px) {
  section .home_contact .contactForm .formBox .group .item label.checktxt {
    font-size: 14px;
    width: 100%;
    float: unset;
  }
}

section .home_contact .contactForm .formBox .group .item input[type="text"] {
  width: calc(100% - 120px);
  height: 80px;
  line-height: 80px;
  float: right;
  background-color: transparent;
  font-size: 18px;
}

@media (max-width: 600px) {
  section .home_contact .contactForm .formBox .group .item input[type="text"] {
    font-size: 14px;
  }
}

section .home_contact .contactForm .formBox .group .item input[type="text"]:focus {
  outline: 0;
}

section .home_contact .contactForm .formBox .group .item input[type="checkbox"] {
  width: 24px;
  height: 24px;
  float: left;
  border: 1px solid #000;
  margin-top: 30px;
  margin-right: 10px;
  padding: 0;
}

section .home_contact .contactForm .formBox .group .item input[type="checkbox"]:focus {
  outline: 0;
}

section .home_contact .contactForm .formBox .group .item input[type="checkbox"]:checked {
  outline: 0;
  bottom: 0;
}

section .home_contact .contactForm .formBox .group .item input[type="checkbox"]:checked:after {
  width: 20px;
  height: 20px;
  content: "";
  background: url(../img/check.svg) 0 0 no-repeat;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
}

section .home_contact .contactForm .formBox .group .item textarea {
  width: 100%;
  background-color: transparent;
  border: 0;
  font-size: 18px;
  height: 96px;
  resize: none;
}

@media (max-width: 600px) {
  section .home_contact .contactForm .formBox .group .item textarea {
    font-size: 14px;
  }
}

section .home_contact .contactForm .formBox .group .item textarea:checked, section .home_contact .contactForm .formBox .group .item textarea:focus {
  outline: 0;
}

section .home_contact .contactForm .formBox button {
  width: 160px;
  float: right;
  height: 50px;
  border: 1px solid #000;
  background: transparent;
  color: #424242;
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
  padding: 0;
}

@media (max-width: 640px) {
  section .home_contact .contactForm .formBox button {
    font-size: 16px;
    float: unset;
    margin: 0 auto;
    display: block;
  }
}

section .home_contact .contactForm .formBox button::after {
  content: "";
  width: 0;
  height: 100%;
  background: #000;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

section .home_contact .contactForm .formBox button i {
  width: 20px;
  height: 2px;
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  overflow: hidden;
  display: none;
}

section .home_contact .contactForm .formBox button a {
  -webkit-transition: all .3s;
  transition: all .3s;
  text-transform: uppercase;
  color: #000;
  position: relative;
  z-index: 5;
}

section .home_contact .contactForm .formBox button:hover {
  cursor: pointer;
}

section .home_contact .contactForm .formBox button:hover::after {
  width: 100%;
}

section .home_contact .contactForm .formBox button:hover i {
  height: auto;
  background: transparent;
  color: #fff;
  font-size: 15px;
  -webkit-animation: arrow 1s both;
          animation: arrow 1s both;
  display: block;
}

@-webkit-keyframes arrow {
  from {
    opacity: 0;
    right: 50px;
  }
  to {
    opacity: 1;
    right: 5px;
  }
}

@keyframes arrow {
  from {
    opacity: 0;
    right: 50px;
  }
  to {
    opacity: 1;
    right: 5px;
  }
}

section .home_contact .contactForm .formBox button:hover a {
  color: #fff;
}

.slider-img .slick-prev, .slider-img .slick-next {
  width: 36px;
  height: 36px;
  bottom: -130px;
  top: unset;
  z-index: 5;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (max-width: 1200px) {
  .slider-img .slick-prev, .slider-img .slick-next {
    bottom: -80px;
  }
}

.slider-img .slick-prev:before, .slider-img .slick-next:before {
  color: #000;
  font-size: 36px;
  opacity: .5;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.slider-img .slick-prev:hover:before, .slider-img .slick-next:hover:before {
  opacity: 1;
}

.slider-img .slick-prev {
  left: unset;
  right: 340px;
}

.slider-img .slick-prev:hover {
  -webkit-transform: translate(-10px, -50%);
          transform: translate(-10px, -50%);
}

@media (max-width: 800px) {
  .slider-img .slick-prev:hover {
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}

@media (max-width: 1200px) {
  .slider-img .slick-prev {
    right: 160px;
  }
}

@media (max-width: 800px) {
  .slider-img .slick-prev {
    right: 110px;
  }
}

.slider-img .slick-prev:before {
  font-family: 'Material Icons';
  content: '\e5cb';
}

.slider-img .slick-next {
  right: 300px;
}

.slider-img .slick-next:hover {
  -webkit-transform: translate(10px, -50%);
          transform: translate(10px, -50%);
}

@media (max-width: 800px) {
  .slider-img .slick-next:hover {
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}

@media (max-width: 1200px) {
  .slider-img .slick-next {
    right: 120px;
  }
}

@media (max-width: 800px) {
  .slider-img .slick-next {
    right: 70px;
  }
}

.slider-img .slick-next:before {
  font-family: 'Material Icons';
  content: '\e5cc';
}

.slider-singlecase {
  position: relative;
}

.slider-singlecase .slick-prev, .slider-singlecase .slick-next {
  width: 36px;
  height: 36px;
  bottom: 30px;
  top: unset;
  z-index: 5;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (max-width: 1200px) {
  .slider-singlecase .slick-prev, .slider-singlecase .slick-next {
    bottom: unset;
    top: 450px;
  }
}

@media (max-width: 800px) {
  .slider-singlecase .slick-prev, .slider-singlecase .slick-next {
    top: 370px;
  }
}

@media (max-width: 600px) {
  .slider-singlecase .slick-prev, .slider-singlecase .slick-next {
    top: 300px;
  }
}

@media (max-width: 440px) {
  .slider-singlecase .slick-prev, .slider-singlecase .slick-next {
    top: 340px;
  }
}

@media (max-width: 380px) {
  .slider-singlecase .slick-prev, .slider-singlecase .slick-next {
    top: 360px;
  }
}

.slider-singlecase .slick-prev:before, .slider-singlecase .slick-next:before {
  color: #000;
  font-size: 36px;
  opacity: .5;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.slider-singlecase .slick-prev:hover:before, .slider-singlecase .slick-next:hover:before {
  opacity: 1;
}

.slider-singlecase .slick-prev {
  left: unset;
  right: calc(50% + 90px);
}

.slider-singlecase .slick-prev:hover {
  -webkit-transform: translate(-10px, -50%);
          transform: translate(-10px, -50%);
}

@media (max-width: 1200px) {
  .slider-singlecase .slick-prev {
    right: 100px;
  }
}

@media (max-width: 800px) {
  .slider-singlecase .slick-prev {
    right: 60px;
  }
}

.slider-singlecase .slick-prev:before {
  font-family: 'Material Icons';
  content: '\e5cb';
}

.slider-singlecase .slick-next {
  right: calc(50% + 50px);
}

.slider-singlecase .slick-next:hover {
  -webkit-transform: translate(10px, -50%);
          transform: translate(10px, -50%);
}

@media (max-width: 1200px) {
  .slider-singlecase .slick-next {
    right: 40px;
  }
}

@media (max-width: 800px) {
  .slider-singlecase .slick-next {
    right: 20px;
  }
}

.slider-singlecase .slick-next:before {
  font-family: 'Material Icons';
  content: '\e5cc';
}

.slider-time .slick-prev, .slider-time .slick-next {
  width: 36px;
  height: 36px;
  z-index: 5;
  background-color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.slider-time .slick-prev:before, .slider-time .slick-next:before {
  color: #000;
  font-size: 36px;
  opacity: .5;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.slider-time .slick-prev:hover:before, .slider-time .slick-next:hover:before {
  opacity: 1;
}

.slider-time .slick-prev {
  left: 0;
}

.slider-time .slick-prev:hover {
  -webkit-transform: translate(-10px, -50%);
          transform: translate(-10px, -50%);
}

.slider-time .slick-prev:before {
  font-family: 'Material Icons';
  content: '\e5cb';
}

.slider-time .slick-next {
  right: 0;
}

.slider-time .slick-next:hover {
  -webkit-transform: translate(10px, -50%);
          transform: translate(10px, -50%);
}

.slider-time .slick-next:before {
  font-family: 'Material Icons';
  content: '\e5cc';
}

.slider_kv .slick-dots {
  bottom: 25px;
}

.slider_kv .slick-dots li {
  width: 50px;
  height: 10px;
}

@media (orientation: portrait) and (max-width: 960px), (max-width: 800px) {
  .slider_kv .slick-dots li {
    width: 30px;
  }
}

@media (max-width: 540px) {
  .slider_kv .slick-dots li {
    width: 15px;
    margin: 0 3px;
  }
}

.slider_kv .slick-dots li button {
  width: 50px;
  height: 10px;
  padding: 0;
}

@media (orientation: portrait) and (max-width: 960px), (max-width: 800px) {
  .slider_kv .slick-dots li button {
    width: 30px;
  }
}

@media (max-width: 540px) {
  .slider_kv .slick-dots li button {
    width: 15px;
  }
}

.slider_kv .slick-dots li button:before {
  content: '';
  width: 50px;
  height: 3px;
  background: #000;
  opacity: .5;
}

@media (orientation: portrait) and (max-width: 960px), (max-width: 800px) {
  .slider_kv .slick-dots li button:before {
    width: 30px;
  }
}

@media (max-width: 540px) {
  .slider_kv .slick-dots li button:before {
    width: 15px;
  }
}

.slider_kv .slick-dots li.slick-active button:before {
  opacity: 1;
}

.slick-slide {
  position: relative;
}

.slick-slide:before {
  content: "";
  width: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.slick-slide:before {
  -webkit-animation: cover 1s;
          animation: cover 1s;
}

@-webkit-keyframes cover {
  from {
    height: 100%;
  }
  to {
    height: 0;
  }
}

@keyframes cover {
  from {
    height: 100%;
  }
  to {
    height: 0;
  }
}

.slider__counter {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 1;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
  pointer-events: none;
}
/*# sourceMappingURL=index.css.map */