@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;500;600;700;900&family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@font-face {
  .material-icons {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
  }
}

body {
  font-family: 'Questrial', 'Noto Serif TC', serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #010101;
}

a, a:hover, a:active, a:visited {
  color: #000000;
  text-decoration: none;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
  outline: 0;
}

img {
  width: 100%;
  display: block;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.btn {
  position: relative;
  background: transparent;
  overflow: hidden;
}

.btn a, .btn span {
  width: 95%;
  display: block;
  border: 1px solid #000;
  text-align: center;
  font-size: 16px;
  line-height: 55px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
}

.btn::after {
  content: "";
  width: 10%;
  height: 1px;
  background: #000;
  position: absolute;
  z-index: 1;
  left: 90%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn:hover {
  cursor: pointer;
}

.btn:hover::after {
  -webkit-animation: btn-line 1.2s cubic-bezier(0.6, 0, 0.2, 1) infinite 0s both;
          animation: btn-line 1.2s cubic-bezier(0.6, 0, 0.2, 1) infinite 0s both;
}

@-webkit-keyframes btn-line {
  0% {
    width: 0%;
    left: 90%;
  }
  50% {
    width: 100%;
    left: 100%;
  }
  100% {
    width: 0%;
    left: 100%;
  }
}

@keyframes btn-line {
  0% {
    width: 0%;
    left: 90%;
  }
  50% {
    width: 100%;
    left: 100%;
  }
  100% {
    width: 0%;
    left: 100%;
  }
}

input, button, textarea, select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  border: 0;
  position: relative;
}

.popup {
  width: 100%;
  min-height: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.popup .popup_content {
  text-align: center;
  background-color: #fff;
  color: #000000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.popup .popup_content.popup_img {
  width: 600px;
  height: 600px;
  padding: 50px;
}

@media (max-width: 600px) {
  .popup .popup_content.popup_img {
    width: 100vw;
    height: 100vw;
    padding: 10vw;
  }
}

.popup .popup_content.popup_mov, .popup .popup_content iframe {
  width: 1080px;
  height: 608px;
  outline: 10px solid #fff;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .popup .popup_content.popup_mov, .popup .popup_content iframe {
    width: 800px;
    height: 450px;
  }
}

@media (max-width: 1000px) {
  .popup .popup_content.popup_mov, .popup .popup_content iframe {
    width: 640px;
    height: 362px;
  }
}

@media (max-width: 660px) {
  .popup .popup_content.popup_mov, .popup .popup_content iframe {
    width: 400px;
    height: 226px;
  }
}

@media (max-width: 420px) {
  .popup .popup_content.popup_mov, .popup .popup_content iframe {
    width: 320px;
    height: 180px;
  }
}

@media (max-width: 400px) {
  .popup .popup_content.popup_mov, .popup .popup_content iframe {
    width: 280px;
    height: 157px;
  }
}

.popup .popup_content.popup_code {
  width: 500px;
  height: 500px;
  padding: 20px;
}

@media (max-width: 600px) {
  .popup .popup_content.popup_code {
    width: 100vw;
    height: 100vw;
    padding: 10vw;
  }
}

.popup .popup_content.popup_message {
  width: 320px;
  height: 60px;
  line-height: 60px;
}

.popup .popup_content .close {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 10;
  right: 6px;
  top: 6px;
  text-align: center;
}

.popup .popup_content .close i {
  font-size: 32px;
  line-height: 40px;
}

.popup .popup_content .close:hover {
  cursor: pointer;
}

.popup.is_acted {
  opacity: 1;
  visibility: visible;
}

.slick-slide, .slick-slide * {
  outline: none !important;
}

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  padding: 45px;
}

.header .header_logo {
  width: 186px;
  height: 38px;
  float: left;
}

.header nav {
  width: calc( 100% - 186px);
  float: right;
  padding: 10px 0;
}

.header nav .header_menu {
  float: right;
  padding: 0 40px;
  display: none;
}

.header nav .header_menu li {
  float: left;
  padding: 0 60px;
  border-right: 1px solid #000;
  font-size: 20px;
  line-height: 1.4;
}

.header nav .header_menu li:last-child {
  border-right: 0;
}

.header nav .header_control {
  float: right;
}

.header nav .header_control .menu-btn {
  display: none;
}

.header nav .header_control .menu-icon {
  width: 36px;
  height: 26px;
  cursor: pointer;
  float: right;
  position: relative;
  z-index: 5;
}

.header nav .header_control .menu-icon .navicon {
  width: 100%;
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transition: background .2s ease-out;
  transition: background .2s ease-out;
}

.header nav .header_control .menu-icon .navicon:before, .header nav .header_control .menu-icon .navicon:after {
  content: '';
  background: #a6936a;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.header nav .header_control .menu-icon .navicon:before {
  top: 4px;
}

.header nav .header_control .menu-icon .navicon:after {
  top: -4px;
}

.header nav .header_control .menu-btn:checked ~ .menu-icon .navicon:before {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.header nav .header_control .menu-btn:checked ~ .menu-icon .navicon:after {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.header nav .header_control .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header nav .header_control .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

footer {
  background: #a6936a;
  text-align: center;
  position: relative;
}

footer .footer_logo {
  padding: 60px 0;
}

footer .footer_logo img {
  width: 105px;
  margin: 0 auto;
}

footer .footer_logo p {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  margin-top: 24px;
  letter-spacing: 2px;
}

footer .footer_menu {
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  text-align: center;
  margin-bottom: 40px;
}

footer .footer_menu li {
  display: inline-block;
  padding: 0 18px;
  border-right: 1px solid #fff;
}

footer .footer_menu li:last-child {
  border-right: 0;
}

footer .footer_menu li a {
  color: #fff;
  letter-spacing: 4px;
}

footer .copyright {
  width: 80%;
  line-height: 50px;
  margin: 0 auto;
  padding-bottom: 25px;
  font-size: 14px;
  text-align: left;
  color: #fff;
  border-top: 1px solid #fff;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 1px;
}

footer .gotop {
  width: 180px;
  font-size: 18px;
  color: #fff;
  position: absolute;
  right: 10%;
  bottom: 65px;
  background-color: #a6936a;
}

footer .gotop:after {
  content: "";
  width: 0;
  height: 0;
  display: inline-block;
  border-style: solid;
  border-width: 0 7px 14px 7px;
  border-color: transparent transparent #fff transparent;
  opacity: 1;
  margin-left: 5px;
}

footer .gotop:hover {
  cursor: pointer;
}

section h2 {
  font-size: 46px;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 6px;
}

section h3 {
  font-size: 22px;
  line-height: 1;
  font-weight: 200;
  letter-spacing: 1px;
  color: #a6936a;
}

section .more, section .send {
  width: 100%;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

section .more a, section .send a {
  padding: 0 10px;
  color: #a6936a;
  font-size: 22px;
  line-height: 1.8;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

section .more:after, section .send:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-style: solid;
  border-width: 7px 0 7px 14px;
  border-color: transparent transparent transparent #a6936a;
  position: absolute;
  right: 10px;
  top: 13px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

section .more:hover, section .send:hover {
  background-color: #a6936a;
}

section .more:hover a, section .send:hover a {
  color: #fff;
}

section .more:hover:after, section .send:hover:after {
  border-color: transparent transparent transparent #fff;
}

section .page_works {
  padding: 200px 0 60px;
  overflow: hidden;
  background: url(../img/page_works_bg_top.jpg) center top no-repeat, url(../img/page_works_bg_bottom.jpg) center bottom no-repeat;
  background-size: contain;
}

section .page_works .works_title {
  width: 100%;
  padding-left: 10%;
  position: relative;
  overflow: hidden;
}

section .page_works .works_title h2 {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  float: left;
  margin-right: 10px;
}

section .page_works .works_title h3 {
  float: left;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

section .page_works .works_title .works_tab {
  width: 260px;
  position: absolute;
  bottom: 0;
  right: 6%;
}

section .page_works .works_title .works_tab li {
  font-size: 18px;
  line-height: 1;
  color: #a6936a;
  float: left;
  border-right: 1px solid #a6936a;
  padding: 0 20px;
}

section .page_works .works_title .works_tab li:last-child {
  border-right: 0;
}

section .page_works .works_title .works_tab li.active {
  opacity: .8;
}

section .page_works .works_title .works_tab li:hover {
  cursor: pointer;
}

section .page_works .works_content {
  width: 100%;
  margin-top: 75px;
}

section .page_works .works_content .works_photo {
  width: 88%;
  margin: 0 auto;
  overflow: hidden;
}

section .page_works .works_content .works_photo .works_photo_item {
  width: calc( 100% / 3);
  padding: 0 20px 60px;
  float: left;
}

section .page_works .works_content .works_photo .works_photo_item .works_photo_item_caption {
  float: left;
  margin-top: 40px;
}

section .page_works .works_content .works_photo .works_photo_item .works_photo_item_caption h5 {
  margin-bottom: 12px;
  font-size: 26px;
  font-weight: 500;
}

section .page_works .works_content .works_photo .works_photo_item .works_photo_item_caption p {
  font-size: 15px;
  color: #a6936a;
}

section .page_works .works_content .works_photo .works_photo_item .works_photo_item_year {
  float: right;
  margin-top: 52px;
  font-size: 32px;
  color: #a6936a;
}

section .page_works .works_content .works_photo .slick-prev {
  width: 64px;
  height: 64px;
  border: 1px solid #a6936a;
  top: auto;
  left: -260px;
  bottom: 80px;
  right: auto;
  z-index: 5;
}

section .page_works .works_content .works_photo .slick-prev:before {
  width: 0;
  height: 0;
  display: inline-block;
  border-style: solid;
  border-width: 7px 14px 7px 0;
  border-color: transparent #a6936a transparent transparent;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 24px;
}

section .page_works .works_content .works_photo .slick-next {
  width: 64px;
  height: 64px;
  border: 1px solid #a6936a;
  top: auto;
  left: -260px;
  bottom: 17px;
  right: auto;
  z-index: 5;
}

section .page_works .works_content .works_photo .slick-next:before {
  width: 0;
  height: 0;
  display: inline-block;
  border-style: solid;
  border-width: 7px 0 7px 14px;
  border-color: transparent transparent transparent #a6936a;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 24px;
}

section .page_works .works_navigation {
  width: 102px;
  margin: 0 auto;
}

section .page_works .works_navigation .page-link {
  border-radius: 0;
  width: 56px;
  height: 56px;
  font-size: 24px;
  color: #a6936a;
  text-align: center;
  line-height: 46px;
  -webkit-transition: all .3s;
  transition: all .3s;
  background: transparent;
}

section .page_works .works_navigation .page-link:focus, section .page_works .works_navigation .page-link:hover {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #000;
  color: #fff;
}
/*# sourceMappingURL=works.css.map */