@import '_setting';
@import '_header';
@import '_footer';

section{

    h2{ 
        font-size: 46px;
        line-height: 1;
        font-weight: 600;
        letter-spacing: 6px;
        @media (max-width:960px){
            font-size: 36px;          
        }
        @media (max-width:600px){
            font-size: 28px;          
        }
    }
    h3{
        font-size: 22px;
        line-height: 1;
        font-weight: 200;
        letter-spacing: 1px;
        color: #a6936a;
        @media (max-width:960px){
            font-size: 18px;             
        }
        @media (max-width:600px){
            font-size: 14px;          
        }
    }

    .more, .send{
        width: 100%;
        position: relative;
        transition: all .3s;
        a{
            padding: 0 10px;
            color: #a6936a;
            font-size: 22px;
            line-height: 1.8;
            position: relative;
            transition: all .3s;
        }
        &:after{
            content: "";
            width: 0;
            height: 0;
            display: block;
            border-style: solid;
            border-width: 7px 0 7px 14px;
            border-color: transparent transparent transparent #a6936a;
            position: absolute;
            right: 10px;
            top: 13px;
            transition: all .3s;
        }
        &:hover{
            background-color: #a6936a;
            a{ color: #fff;}
            &:after{
                border-color: transparent transparent transparent #fff;
            }
        }
    }

    .page_aboutus{
        padding: 200px 0 60px;
        overflow: hidden;
        background: url(../img/page_aboutus_bg.jpg) center top no-repeat;
        background-size: cover; 
        position: relative;
        @media (max-width:1920px){
            background-size: 1920px auto; 
        }
        @media (max-width:960px){
            background-size: 1600px auto; 
            padding-top: 20%;
        }
        @media (max-width:600px){
            background-size: 1200px auto; 
            padding-top: 20%;
        }

        .aboutus_title{
            width: 100%;
            padding-left: 10%;
            position: relative;
            overflow: hidden;

            h2{ 
                writing-mode: vertical-lr;
                float: left;
                margin-right: 10px;
            }
            h3{
                float: left;
                writing-mode: vertical-lr;
            }
        }

        .aboutus_content{
            width: 85%;
            margin: 0 auto;
            margin-top: 450px;
            @media (max-width:960px){
                margin-top: 360px;
            }
            @media (max-width:600px){
                margin-top: 300px;
            }
            p{
                font-size: 18px;
                line-height: 2.2;
                text-align: center;
            }
            .video{
                width: 100%;
                height: 720px;
                margin: 60px 0;
                @media (max-width:960px){
                    height: 460px;
                }
                @media (max-width:800px){
                    height: 380px;
                }
                @media (max-width:600px){
                    height: 280px;
                }
                @media (max-width:400px){
                    height: 200px;
                }
            }

        }
        
    }
}