@import '_setting';
@import '_header';
@import '_footer';

section{

    h2{ 
        font-size: 46px;
        line-height: 1;
        font-weight: 600;
        letter-spacing: 6px;
        @media (max-width:960px){
            font-size: 36px;          
        }
        @media (max-width:600px){
            font-size: 28px;          
        }
    }
    h3{
        font-size: 22px;
        line-height: 1;
        font-weight: 200;
        letter-spacing: 1px;
        color: #a6936a;
        @media (max-width:960px){
            font-size: 18px;             
        }
        @media (max-width:600px){
            font-size: 14px;
        }
    }

    .more, .send{
        width: 100%;
        position: relative;
        transition: all .3s;
        a{
            padding: 0 10px;
            color: #a6936a;
            font-size: 22px;
            line-height: 1.8;
            position: relative;
            transition: all .3s;
            @media (max-width:600px){
                font-size: 16px;          
            }
        }
        &:after{
            content: "";
            width: 0;
            height: 0;
            display: block;
            border-style: solid;
            border-width: 7px 0 7px 14px;
            border-color: transparent transparent transparent #a6936a;
            position: absolute;
            right: 10px;
            top: 13px;
            transition: all .3s;
            @media (max-width:600px){
                border-width: 5px 0 5px 10px;
                top: 12px;
            }
        }
        &:hover{
            background-color: #a6936a;
            a{ color: #fff;}
            &:after{
                border-color: transparent transparent transparent #fff;
            }
        }
    }

    .home_event{
        width: 100%;
        position: relative;

        .home_event_banner{
            width: 100%;
            position: relative;
            left: 0;
            overflow: hidden;
            // .home_event_banner_item{}
            img{
                animation: photozoom 10s alternate infinite linear;
                &.pc{ display: block;}
                &.mob{ display: none;}
                @media (max-width:800px){
                    &.pc{ display: none;}
                    &.mob{ display: block;}
                }
                @keyframes photozoom {
                    from{ transform: scale(1);}
                    to  { transform: scale(1.2);}
                    
                }
            }
            .top{
                content: "";
                width: 100%;
                height: 0;
                padding-bottom: 49%;
                display: block;
                background: url(../img/event_bg.png) center bottom no-repeat;
                background-size: cover;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 10;
                @media (max-width:800px){
                    padding-bottom: 186%;
                    background: url(../img/event_bg_mob.png) center top no-repeat;
                    background-size: cover;
                }
            }

            .swiper-button-prev{
                top: auto;
                left: auto;
                bottom: 16px;
                right: 165px;
                z-index: 20;
                @media (max-width:960px){
                    bottom: 2px;
                    right: 125px;
                }
                @media (max-width:600px){
                    right: 100px;
                }
                &:after{
                    content: "";
                    width: 0;
                    height: 0;
                    display: inline-block;
                    border-style: solid;
                    border-width: 7px 14px 7px 0;
                    border-color: transparent #a6936a transparent transparent;
                    opacity: 1;
                    @media (max-width:600px){
                        border-width: 5px 10px 5px 0;     
                    }
                }
            }

            .swiper-button-next{
                top: auto;
                left: auto;
                bottom: 16px;
                right: 65px;
                z-index: 20;
                @media (max-width:960px){
                    bottom: 2px;
                    right: 25px;
                }
                @media (max-width:600px){
                    right: 20px;
                }
                &:after{
                    content: "";
                    width: 0;
                    height: 0;
                    display: inline-block;
                    border-style: solid;
                    border-width: 7px 0 7px 14px;
                    border-color: transparent transparent transparent #a6936a;
                    opacity: 1;
                    @media (max-width:600px){
                        border-width: 5px 0 5px 10px;   
                    }
                }
            }

            .home_event_nav_number{
                width: 82px;
                position: absolute;
                bottom: 25px;
                right: 84px;
                color: #a6936a;
                font-size: 24px;
                text-align: center;
                letter-spacing: 3px;
                left: unset;
                z-index: 20;
                @media (max-width:960px){
                    bottom: 10px;
                    right: 42px;
                    font-size: 24px;
                }
                @media (max-width:600px){
                    width: 66px;
                    bottom: 14px;
                    right: 36px;
                    font-size: 16px;          
                }
                span{
                    color: #a6936a;
    
                }
    
            }
        }

    }

    .home_works{
        padding-left: 10%;
        padding-top: 80px;
        overflow: hidden;
        position: relative;
        @media (max-width:960px){
            padding-top: 10%;
            padding-left: 2%;
        }
        .bg{
            width: 100%;
            height: 100%;
            background: url(../img/works_bg.png) center top no-repeat;
            background-size: cover; 
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
        }
        .home_works_title{
            width: 260px;
            float: left;
            padding-top: 10px;
            @media (max-width:960px){
                width: 16%;
            }
            h2{ 
                writing-mode: vertical-lr;
                float: left;
                margin-right: 10px;
            }
            h3{
                float: left;
                writing-mode: vertical-lr;
            }
        }

        .home_works_content{
            width: calc( 100% - 260px );
            // padding-left: 100px;
            float: right;
            @media (max-width:960px){
                width: 80%;
            }
            .home_works_more{
                color: #a6936a;
                // background-color: #fff;
                padding-bottom: 60px;
                a{
                    width: 195px;
                    float: right;
                    padding: 0 40px;
                    @media (max-width:960px){
                        width: 120px;
                        font-size: 18px;
                        line-height: 2.2;
                        padding: 0 20px;
                    }
                    @media (max-width:600px){
                        width: 110px;
                        font-size: 16px;          
                    }
                }
                &:before{
                    content: "";
                    width: calc( 100% - 195px);
                    height: 1px;
                    background: #a6936a;
                    position: absolute;
                    top: 18px;
                    left: 20px;
                    @media (max-width:960px){
                        width: calc( 100% - 130px);
                    }
                }
                &:after{
                    right: 65px;
                    // top: 4px;
                    @media (max-width:960px){
                        right: 20px;
                    }
                }
                &:hover{
                    background-color: #fff;
                    a{ 
                        color: #a6936a;
                    }
                    &:after{
                        border-color: transparent transparent transparent #a6936a;
                        animation: gorightslow .5s alternate infinite linear both;
                    }
                }
            }
            .home_works_photo{
                // width: 113%;
                width: 400px;
                @media (max-width:960px){
                    // width: 180%;
                    width: 102%;
                }
                .home_works_photo_box{
                    .home_works_photo_item{
                        padding: 0 20px 40px;
                        overflow: hidden;
                        @media (max-width:960px){
                            padding: 0 10px 40px;
                        }
                        .photo{
                            width: 100%;
                            position: relative;
                            overflow: hidden;
                            img{
                                transition: all .3s;
                            }
                            &:after{
                                background-color: #000;
                                content: "";
                                display: block;
                                height: 5px;
                                left: 0;
                                position: absolute;
                                bottom: 0px;
                                transform: scaleX(0);
                                transform-origin: right center;
                                transition: transform .5s cubic-bezier(.19,1,.22,1);
                                width: 100%;
                                z-index: 10;
                            }
                            .cover{
                                // width: 100%;
                                height: 100%;
                                display: block;
                                position: absolute;
                                top: 0;
                                right: 0;
                                background: #fff;
                                animation: photocover 2s both;
                            }
                            @keyframes photocover {
                                from{ width: 100%;}
                                to{ width: 0%;}
                            }
                        }
                        .home_works_photo_item_caption{
                            width: 80%;
                            float: left;
                            margin-top: 50px;
                            @media (max-width:960px){
                                width: 100%;
                                margin-top: 20px;  
                            }
                            h5{
                                margin-bottom: 12px;
                                font-size: 26px;
                                font-weight: 500;
                                @media (max-width:960px){
                                    font-size: 32px; 
                                    margin-bottom: 3px;
                                }
                                @media (max-width:600px){
                                    font-size: 18px;
                                }
                            }
                            p{
                                font-size: 15px;
                                color: #a6936a;
                                @media (max-width:960px){
                                    font-size: 24px;           
                                }
                                @media (max-width:600px){
                                    font-size: 14px;
                                }
                            }
                        }
                        .home_works_photo_item_year{
                            width: 20%;
                            float: right;
                            margin-top: 52px;
                            font-size: 32px;
                            color: #a6936a;
                            @media (max-width:960px){
                                width: 100%;
                                margin-top: 36px;
                                font-size: 24px;
                                margin-top: 20px;         
                            }
                            @media (max-width:600px){
                                font-size: 16px;
                            }
                        }
                        &:hover{
                            .photo{
                                img{
                                    transform: scale(1.1);
                                }
                                &:after{
                                    transform: scaleX(1);
                                    transform-origin: left center;
                                }
                            }
                        }
                    }
                }

                .slick-prev{
                    width: 64px;
                    height: 64px;
                    border: 1px solid #a6936a;
                    top: auto;
                    left: -260px;
                    bottom: 80px;
                    right: auto;
                    z-index: 5;
                    @media (max-width:960px){
                        left: -13%;
                        width: 42px;
                        height: 42px;
                        bottom: 58px;
                    }
                    &:before{
                        content: "";
                        width: 0;
                        height: 0;
                        display: inline-block;
                        border-style: solid;
                        border-width: 7px 14px 7px 0;
                        border-color: transparent #a6936a transparent transparent;
                        opacity: 1;
                        position: absolute;
                        top: 24px;
                        left: 24px;
                        @media (max-width:960px){
                            top: 14px;
                            left: 14px;
                        }
                        @media (max-width:600px){
                            border-width: 5px 10px 5px 0;
                            top: 16px;
                            left: 16px;
                        }
                    }
                    &:hover{
                        &:before{
                            animation: goleftslow .5s alternate infinite linear both;
                        }
                    }
                }
    
                .slick-next{
                    width: 64px;
                    height: 64px;
                    border: 1px solid #a6936a;
                    top: auto;
                    left: -260px;
                    bottom: 17px;
                    right: auto;
                    z-index: 5;
                    @media (max-width:960px){
                        left: -13%;
                        width: 42px;
                        height: 42px;
                    }
                    &:before{
                        content: "";
                        width: 0;
                        height: 0;
                        display: inline-block;
                        border-style: solid;
                        border-width: 7px 0 7px 14px;
                        border-color: transparent transparent transparent #a6936a;
                        opacity: 1;
                        position: absolute;
                        top: 24px;
                        left: 24px; 
                        @media (max-width:960px){
                            top: 14px;
                            left: 14px;
                        }
                        @media (max-width:600px){
                            border-width: 5px 0 5px 10px;
                            top: 16px;
                            left: 16px;
                        }
                    }
                    &:hover{
                        &:before{
                            animation: gorightslow .5s alternate infinite linear both;
                        }
                    }
                }

            }
        }
        
    }

    .home_news{
        padding: 140px 10% 60px;
        position: relative;
        // overflow: hidden;
        @media (max-width:960px){
            padding: 10% 2% 60px;
        }
        .bg{
            width: 100%;
            height: 100%;
            background: url(../img/news_bg.png) center top no-repeat;
            background-size: cover; 
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
        }
        .home_news_title{
            float: left;
            border-left: 1px solid #a6936a;
            padding: 40px 60px;
            overflow: hidden;
            @media (max-width:960px){
                float: unset;
                padding: 40px 0;
                border-left: 0;
            }
            h2{ 
                margin-top: 10px;
                @media (max-width:960px){
                    width: calc(100% - 200px);
                    float: left;
                }
                @media (max-width:600px){
                    width: calc(100% - 120px);
                }
            }
            h3{
                @media (max-width:960px){
                    width: calc(100% - 200px);
                    float: left;
                }
                @media (max-width:600px){
                    width: calc(100% - 120px);
                }
            }
            .home_news_more{
                border: 1px solid #a6936a;
                margin-top: 100px;
                @media (max-width:960px){
                    width: 200px;
                    float: right;
                    margin-top: 0;
                }
                @media (max-width:600px){
                    width: 120px;
                }
            }
        }
        .home_news_content{
            padding-right: 40px;
            border-right: 1px solid #a6936a;
            @media (max-width:960px){
                border-right: 0;
                padding-right: 0;
                border-top: 1px solid #a6936a;
                border-bottom: 1px solid #a6936a;;
            }
            .home_news_item{
                padding: 10px 0;
                min-height: 300px;
                // outline: 1px solid red;
                li{
                    padding: 20px 0;
                    text-align: justify;
                    overflow: hidden;
                    border-bottom: 1px dashed #a6936a;
                    // &:last-child{ border-bottom: 0;}
                    a{ 
                        color: #a6936a;
                        opacity: 1;
                        transition: all .3s;
                    }
                    span{ 
                        display: block; 
                        float: left;
                    }
                    .news_date{
                        width: 140px;
                        font-size: 22px;
                        line-height: 1;
                        color: #a6936a;
                        @media (max-width:600px){
                            width: 100%;
                            font-size: 18px;   
                        }
                    }
                    .news_title{
                        width: calc( 100% - 140px );
                        font-size: 18px;
                        line-height: 1.22;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        -webkit-line-clamp: 1;
                        @media (max-width:600px){
                            width: 100%;
                            font-size: 14px;   
                            line-height: 1.3;
                            margin-top: 10px;
                        }
                    }
                    &:hover{
                        a{ 
                            opacity: .4;
                        }
                    }
                }
            }
        }
    }

    .home_contactus{
        padding: 60px 10% 25px;
        position: relative;
        overflow: hidden;
        @media (max-width:960px){
            padding: 25px 5%;
        }
        .bg{
            width: 100%;
            height: 100%;
            background: url(../img/contactus_bg.png) center top no-repeat;
            background-size: cover; 
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
        }
        .home_contactus_title{
            h2{ 
                margin-top: 10px;
                text-align: center;
            }
            h3{ 
                text-align: center;
            }
            p{
                font-size: 18px;  
                text-align: center;
                margin: 30px 0;
                @media (max-width:600px){
                    font-size: 14px;   
                    margin: 30px 0 0;
                }
                span{ 
                    color: #a6936a;
                }       
            }
        }
        .home_contactus_content{
            .home_contactus_form{
                padding: 40px;
                position: relative;
                overflow: hidden;
                @media (max-width:960px){
                    padding: 40px 0;
                }
                @media (max-width:600px){
                    padding: 20px 0;
                }
                .home_contactus_form_item{
                    width: calc( 50% - 80px) ;
                    float: left;
                    margin: 0 40px 50px;
                    font-size: 22px;
                    color: #a6936a;
                    overflow: hidden;
                    @media (max-width:960px){
                        width: calc( 100% - 20px) ;
                        margin: 0 10px 20px;
                    }
                    @media (max-width:600px){
                        font-size: 18px;   
                    }

                    &.fullwidth{
                        width: calc( 100% - 80px) ;
                        @media (max-width:960px){
                            width: calc( 100% - 20px) ;
                        }
                    }

                    &.select{
                        position: relative;
                        &:after{
                            content: "";
                            width: 0;
                            height: 0;
                            display: block;
                            border-style: solid;
                            border-width: 14px 7px 0 7px;
                            border-color: #a6936a transparent transparent transparent;
                            position: absolute;
                            right: 10px;
                            top: 60%;
                            transition: all .3s;
                            z-index: -1;
                            @media (max-width:800px){
                                border-width: 10px 5px 0 5px;
                            }
                        }
                    }

                    label{
                        width: 100%;
                        display: block;
                        a{
                            color: #a6936a;
                            display: inline;
                            text-decoration: underline;
                            font-size: 16px;
                            @media (max-width:600px){
                                font-size: 12px;   
                                display: block;
                            }
                        }
                        span{
                            color: #a6936a;
                        }
                    }
                    select{
                        width: 100%;
                        height: 70px;
                        line-height: 70px;
                        border: 0;
                        background-color: transparent;
                        border-bottom: 1px solid #a6936a;
                        color: #a6936a;
                        font-size: 18px;
                        @media (max-width:600px){
                            font-size: 14px;   
                            height: 50px;
                            line-height: 50px;
                        }
                        &:focus{
                            outline: 0;
                        }
                    }
                    input[type="text"]{
                        width: 100%;
                        height: 70px;
                        line-height: 70px;
                        background-color: transparent;
                        border-bottom: 1px solid #a6936a;
                        color: #a6936a;
                        font-size: 18px;
                        border-radius: 0;
                        @media (max-width:600px){
                            font-size: 14px;  
                            height: 50px;
                            line-height: 50px; 
                        }
                        &:focus{
                            outline: 0;
                        }
                    }
                    input[type="checkbox"]{
                        width: 24px;
                        height: 24px;
                        border: 1px solid #000;
                        margin-top: 5px;
                        margin-right: 10px;
                        padding: 0;
                        float: left;
                        &:focus{
                            outline: 0;
                        }
                        &:checked{
                            outline: 0;
                            bottom: 0;
                            &:after{
                                width: 22px;
                                height: 22px;
                                content: "";
                                background: url(../img/check.svg) 0 0 no-repeat;
                                position: absolute;
                                z-index: 3;
                                top: 2px;
                                left: 0;
            
                            }
                        }
                    }
                    textarea{
                        width: 100%;
                        background-color: transparent;
                        border: 0;
                        border-bottom: 1px solid #a6936a;
                        height: 96px;
                        resize: none;
                        color: #a6936a;
                        font-size: 18px;
                        @media (max-width:600px){
                            font-size: 14px;   
                        }
                        &:checked, &:focus{
                            outline: 0;
                        }
                    }
                    

                }

                button{
                    width: 200px;
                    height: 50px;
                    font-size: 24px;
                    text-align: left;
                    padding: 0 12px;
                    position: absolute;
                    right: 80px;
                    bottom: 80px;
                    border: 1px solid #a6936a;
                    background: #fff;
                    font-family: 'Noto Serif TC', serif;
                    font-weight: 600;
                    color: #a6936a;
                    transition: all .3s;
                    @media (max-width:960px){
                        position: relative;
                        right: unset;
                        bottom: unset;       
                        margin: 0 auto;   
                        display: block;      
                    }
                    @media (max-width:800px){
                        width: 100%;
                        text-align: center;
                    }
                    @media (max-width:600px){
                        font-size: 18px;   
                    }
                    &:after{
                        right: 12px;
                        top: 16px;
                        @media (max-width:800px){
                            top: 20px;
                            right: calc( 50% - 80px);
                        }
                        @media (max-width:600px){
                            top: 20px;
                            right: calc( 50% - 60px);
                        }
                    }
                    &:hover{ 
                        cursor: pointer;
                        background: #a6936a;
                        color: #fff;
                    }
                }
            }
        }
    }

}
