@import '_setting';
@import '_header';
@import '_footer';

section{

    .home_event{
        width: 100%;
        position: relative;
        overflow: hidden;

        .home_event_nav{
            list-style: none;
            margin: 0;
            padding: 0;
            // overflow: hidden;
            position: absolute;
            z-index: 5;
            right: 20px;
            bottom: 0px;
            text-align: right;
            li{
                width: 0;
                height: 0;
                display: inline-block;
                border-style: solid;
                border-width: 10px 20px 10px 0;
                border-color: transparent #a6936a transparent transparent;
                &:hover{
                    cursor: pointer;
                }
            }
        }

        .home_event_banner{
            width: 100%;
            position: relative;
            left: 0;
            overflow: hidden;
            &:after{
                content: "";
                width: 100%;
                height: 0;
                padding-bottom: 47.9%;
                display: block;
                background: url(../img/event_bg.png) center center no-repeat;
                background-size: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
            .home_event_banner_box{
                width: calc( 100% * 6);
                position: relative;
                left: 0;
                img{
                    width: calc( 100% / 6);
                    float: left;
                    display: block;
                }
            }
        }

    }

}
//首頁CURRENT PROJECT輪播
.slider-img{
    .slick-prev, .slick-next{
        width: 36px;
        height: 36px;
        bottom: -130px;
        top: unset;
        z-index: 5;
        transition: all .3s;
        @media (max-width:1200px){
            bottom: -80px;
        }
        &:before{
            color: #000;
            font-size: 36px;
            opacity: .5;
            transition: all .3s;
        }
        &:hover{
            &:before{
                opacity: 1;
            }
        }
    }
    .slick-prev{ 
        left: unset;
        right: 340px;
        &:hover{
            transform: translate(-10px,-50%);
            @media (max-width:800px){
                transform: translate(0,-50%);
            }
        }
        @media (max-width:1200px){
            right: 160px;
        }
        @media (max-width:800px){
            right: 110px;
        }
        &:before {
            font-family: 'Material Icons';
            content: '\e5cb';
          }
    }
    .slick-next{ 
        right: 300px;
        &:hover{
            transform: translate(10px,-50%);
            @media (max-width:800px){
                transform: translate(0,-50%);
            }
        }
        @media (max-width:1200px){
            right: 120px;
        }
        @media (max-width:800px){
            right: 70px;
        }
        &:before {
            font-family: 'Material Icons';
            content: '\e5cc';
          }
    }
}

//首頁charity輪播
.slider-singlecase{
    position: relative;
    .slick-prev, .slick-next{
        width: 36px;
        height: 36px;
        bottom: 30px;
        top: unset;
        z-index: 5;
        transition: all .3s;
        @media (max-width:1200px){
            bottom: unset;
            top: 450px;
        }
        @media (max-width:800px){
            top: 370px;
        }
        @media (max-width:600px){
            top: 300px;
        }
        @media (max-width:440px){
            top: 340px;
        }
        @media (max-width:380px){
            top: 360px;
        }
        &:before{
            color: #000;
            font-size: 36px;
            opacity: .5;
            transition: all .3s;
        }
        &:hover{
            &:before{
                opacity: 1;
            }
        }
    }
    .slick-prev{ 
        left: unset;
        right: calc(50% + 90px);
        &:hover{
            transform: translate(-10px,-50%);
        }
        @media (max-width:1200px){
            right: 100px;
        }
        @media (max-width:800px){
            right: 60px;
        }
        &:before {
            font-family: 'Material Icons';
            content: '\e5cb';
        }
    }
    .slick-next{ 
        right: calc(50% + 50px);
        &:hover{
            transform: translate(10px,-50%);
        }
        @media (max-width:1200px){
            right: 40px;
        }
        @media (max-width:800px){
            right: 20px;
        }
        &:before {
            font-family: 'Material Icons';
            content: '\e5cc';
        }
    }
}
.slider-time{
    .slick-prev, .slick-next{
        width: 36px;
        height: 36px;
        z-index: 5;
        background-color: #fff;
        transition: all .3s;
        &:before{
            color: #000;
            font-size: 36px;
            opacity: .5;
            transition: all .3s;
        }
        &:hover{
            &:before{
                opacity: 1;
            }
        }
    }
    .slick-prev{ 
        left: 0;
        &:hover{
            transform: translate(-10px,-50%);
        }
        &:before {
            font-family: 'Material Icons';
            content: '\e5cb';
          }
    }
    .slick-next{ 
        right: 0;
        &:hover{
            transform: translate(10px,-50%);
        }
        &:before {
            font-family: 'Material Icons';
            content: '\e5cc';
          }
    }
}
.slider_kv{
    .slick-dots {
        bottom: 25px;
        li{
            width: 50px;
            height: 10px;
            @media (orientation: portrait) and (max-width: 960px), (max-width: 800px) {
                width: 30px;
            }
            @media (max-width: 540px) {
                width: 15px;
                margin: 0 3px;
            }
            button{
                width: 50px;
                height: 10px;
                padding: 0;
                @media (orientation: portrait) and (max-width: 960px), (max-width: 800px) {
                    width: 30px;
                }
                @media (max-width: 540px) {
                    width: 15px;
                }
                &:before{
                    content: '';
                    width: 50px;
                    height: 3px;
                    background: #000;
                    opacity: .5;
                    @media (orientation: portrait) and (max-width: 960px), (max-width: 800px) {
                        width: 30px;
                    }
                    @media (max-width: 540px) {
                        width: 15px;
                    }
                }
            }
            &.slick-active{
                button{
                    &:before{
                        opacity: 1;
                    }
                }
            }
        }
    }
}
.slick-slide{
    position: relative;
    &:before{
        content: "";
        width: 100%;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
    }
    &:before{
        animation: cover 1s;
    }
}
@keyframes cover{
    from{ height: 100%;}
    to  { height: 0;}
}

// .slick-current:first-child{
//     &:before{
//         animation: cover 1s;
//     }
// }
// @keyframes cover{
//     from{ height: 100%;}
//     to  { height: 0;}
// }
.slider__counter {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    z-index: 1;
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
    // mix-blend-mode: difference;
    pointer-events: none;
  }


