@import '_setting';
@import '_header';
@import '_footer';

section{
    .theme{
        position: relative;
        &.online_project{
            padding-bottom: calc(160/2028*100%);
        }
        .container{
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            @media (max-width:1280px){
                width: 90%;
            }
        }
        .blockItem{
            width: 150px;
            height: 30px;
            text-align: center;
            position: absolute;
            z-index: 8;
            top: 50%;
            left: -50px;
            color: #000;
            font-size: 14px;
            line-height: 30px;
            transform: rotate(-90deg);
            transform-origin: center center;
            text-transform: uppercase;
            font-family: 'Playfair Display', serif;
            @media (max-width:960px){
                display: none;
            }
            &.white{
                color: #fff;
            }
        }
        .desc{
            font-size: 18px;
            line-height: 32px;
            font-weight: 100;
            margin-top: 50px;
            text-align: center;
            @media (max-width:600px){
                font-size: 14px;
            }
        }
        .txtBox{
            position: relative;
            .number{
                font-size: 150px;
                -webkit-text-stroke: 1px #fff;
                font-family: 'Noto Serif TC', serif;
                color: transparent;
                font-weight: 900;
                position: absolute;
                z-index: 0;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                @media (max-width:1200px){
                    top: 24%;
                    left: 110px;
                }
                @media (max-width:800px){
                    top: 18%
                }
                @media (max-width:600px){
                    font-size: 120px;
                    top: 15%;
                    left: 15%;
                }
                @media (max-width:420px){
                    font-size: 100px;
                }
            }
            .title{
                font-size: 18px;
                margin-top: 50px;
                position: relative;
                z-index: 5;
                font-weight: 100;
                letter-spacing: 1px;
                text-align: center;
                @media (max-width:1200px){
                    text-align: left;
                    margin-left: 60px;
                }
                span{
                    font-size: 36px;
                    text-transform:uppercase;
                    font-family: 'Playfair Display', serif;
                    display: block;
                    @media (max-width:480px){
                        font-size: 28px;
                    }
                }
            }
        }

        .btn{
            width: 80%;
            margin-left: 60px;
            margin-top: 45px;
            @media (max-width:800px){
                width: 90%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .bottomtxt{
            width: 100%;
            height: 0;
            padding-bottom: calc(160/2028*100%);
            position: absolute;
            bottom: 0;
            left: 0;
        }
        .pagingInfo{
            width: calc(100% - 240px);
            margin: 0 auto;
            position: relative;
            z-index: 1;
            margin-top: 80px;
            @media (max-width:1200px){
                margin-top: 36px;
            }
            @media (max-width:800px){
                width: calc(100% - 150px);
                margin-top: 30px;
                // margin-left: 50px;
            }
            > div{
                font-family: 'Noto Serif TC', serif;
                display: inline-block;
                margin-left: 5px;
                vertical-align: middle;
            }
            .progressBar{
                width: 240px;
                height: 1px;
                position: relative;
                background: #bbb;
                @media (max-width:1200px){
                    width: calc( 100% - 150px);
                }    
                .coverline{
                    // width: 20%;
                    height: 1px;
                    left: 0;
                    top: 0;
                    position: absolute;
                    background: #000;
                }
            }
        }
    }
    .home_currentpj{
        padding-top: 100px;
        overflow: hidden;
        @media (max-width:1200px){
            padding-top: 0;
        }
        .imgBox{
            width: calc(1136/1920*100%);
            float: left;
            padding-bottom: 100px;
            overflow: hidden;
            position: relative;
            z-index: 1;
            @media (max-width:1200px){
                width: 90%;
                padding: 5% 0;
            }
            .innerBox{
                width: calc(100% + 120px);
                @media (max-width:800px){
                    width: calc(100% + 80px);
                }
                .photo{
                    width: 100%;
                    height: 0;
                    padding: 0 20px 66%;
                    overflow: hidden;
                }

            } 
        }
        .txtBox{
            width: calc(650/1920*100%);
            float: right;
            margin-right: calc(100/1920*100%);
            background: #eee;
            margin-top: calc(190/1920*100%);
            padding-top: calc(68/1920*100%);
            padding-bottom: calc(120/1920*100%);
            padding-right: calc(78/1920*100%);
            position: relative;
            z-index: 0;
            overflow: visible;
            @media (max-width:1200px){
                width: 100%;
                float: unset;
                padding: 10% 5%;
                margin-top: 0;
                &:after{
                    content: "";
                    width: 100%;
                    height: 200px;
                    display: block;
                    position: absolute;
                    bottom: -200px;
                    left: 0;
                    background: #eee;
                }
            }
            @media (max-width:600px){
                &:after{
                    height: 100px;
                    bottom: -100px;
                }
            }
            &:before{
                content: "";
                width: calc(400/1920*100%);
                height: 100%;
                display: block;
                background: #eee;
                position: absolute;
                z-index: 0;
                top: 0;
                left: calc(-400/1920*100%);

            }
            .number{
                font-size: 150px;
                -webkit-text-stroke: 1px #fff;
                font-family: 'Noto Serif TC', serif;
                color: transparent;
                font-weight: 900;
                position: absolute;
                z-index: 1;
                top: 130px;
                left: 110px;
                @media (max-width:1200px){
                    top: 24%
                }
                @media (max-width:800px){
                    top: 18%
                }
                @media (max-width:600px){
                    font-size: 120px;
                    top: 15%;
                    left: 15%;
                }
                @media (max-width:420px){
                    font-size: 100px;
                }
            }
            .title{
                text-align: left;
                margin-left: 60px;
                @media (max-width:1200px){
                    margin-top: 0;
                }
                @media (max-width:800px){
                    margin-left: 0;
                }
            }
            h4{
                font-size: 24px;
                line-height: 30px;
                margin-top: 72px;
                margin-left: 60px;
                margin-bottom: 20px;
                font-weight: 600;
                color: #000;
                @media (max-width:800px){
                    margin-left: 0;
                }
            }
            p{
                width: calc(100% - 60px);
                font-size: 18px;
                line-height: 32px;
                margin-left: 60px;
                text-align: justify;
                font-weight: 300;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;

                @media (max-width:800px){
                    margin-left: 0;
                }
                @media (max-width:600px){
                    font-size: 14px;
                }
            }
        }
    }
    .home_kv, .home_kvImg{
        width: auto;
        height: 100vh;
        position: relative;
        overflow: hidden;
        @media (max-width:800px){
            height: 80vh;
        }
        .item{
            margin-bottom: -4px;
        }
        img{
            &.pc{ display: block;}
            &.mob{ display: none;}
            @media (max-width:800px){
                &.pc{ display: none;}
                &.mob{ display: block;}
            }
        }
        .scroll{
            width: 20px;
            height: 192px;
            position: absolute;
            z-index: 8;
            left: 50px;
            bottom: 0;
            @media (max-width:960px){
                height: 160px;
                left: 30px;
            }
            @media (max-width:960px){
                display: none;
            }
            p{
                color: #fff;
                writing-mode: vertical-rl;
                text-orientation: sideways;
                transform: rotate(-180deg);
                font-size: 16px;
                line-height: 1;
                vertical-align: middle;
                @media (max-width:960px){
                    font-size: 14px;
                }
            }
            .scroll_content{
                width: 1px;
                height: 120px;
                background-color: rgba(255,255,255,.5);
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                margin-top: 12px;
                @media (max-width:960px){
                    height: 100px;}
                &:before{
                    content:"";
                    width: 1px;
                    height: 72px;
                    background-color: rgba(255,255,255,1);
                    position: absolute;
                    top: 0;
                    left: 0;
                    animation: scroll 1s infinite ease-in;
                    @media (max-width:960px){
                        height: 60px;
                    }
                }
                @keyframes scroll {
                    0%{ height: 0px; top: 0px;}
                    50%{ height: 80%; top: 60%;}
                    100%{ height: 0px; top: 100%;}
                }
            }
        }

    }
    .home_kvImg{
        height: 0;
        padding-bottom: calc(842/1920*100%);
        @media (max-width:800px){
            padding-bottom: calc(1654/1125*100%);
        }
    }
    .mouse_video{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        &.mob{
            width: 80px;
            height: 80px;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            transform: translateY(200%);
        }
    }
    .overlay_Video{
        width: 100%;
        height: 100%;
        min-height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0,0,0,.8);
        z-index: 5;
        opacity: 0;
        visibility: hidden;
        transition: all .3s;
        &.is-acted{
            opacity: 1;
            visibility: visible;
        }
        iframe{
            width: 560px;
            height: 315px;
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
        .video_close{
            position: fixed;
            z-index: 6;
            top: 10px;
            right: 10px;
            &:hover{
                cursor: pointer;
            }
            i{
                color: #fff;
                font-size: 50px;
            }
        }
    }
    .home_news{
        padding: 80px 0 100px;
        background: url(../img/index/news_bg.jpg) center top no-repeat;
        position: relative;
        background-attachment: fixed;
        @media (max-width:800px){
            background: url(../img/index/news_mob_bg.jpg) center top no-repeat;
            background-size: cover;
        }
        .news{
            margin-top: 100px;
            li{
                height: 90px;
                line-height: 90px;
                border-bottom: 1px solid #fff;
                a > div{ transition: all .3s;}
                .newsDate{
                    width: 200px;
                    float: left;
                    margin-left: 20px;
                    font-size: 16px;
                    @media (max-width:800px){
                        width: 100px;
                        font-size: 14px;
                    }
                }
                .newsTitle{
                    width: calc(100% - 300px);
                    float: left;
                    margin-left: 25px;
                    overflow : hidden;
                    text-overflow : ellipsis;
                    white-space : nowrap;
                    font-size: 20px;
                    @media (max-width:800px){
                        width: calc(100% - 200px);
                        font-size: 16px;
                    }

                }
                .newsArrow{
                    width: 30px;
                    float: left;
                    margin-left: 25px;
                    line-height: 90px;
                    transition: all .3s;
                }
                &:first-child{
                    border-top: 1px solid #fff;
                }
                &:hover{
                    a > div{
                        text-decoration: underline;
                    }
                    .newsArrow{
                        transform: translateX(10px);
                    }
                }
            }
        }
        .btn{
            width: 480px;
            margin: 100px auto 0;
            @media (max-width:800px){
                width: 90%;
                // margin-left: 0;
            }
        }
    }
    .home_benefits{
        padding: 80px 0 100px;
        overflow: hidden;
        @media (max-width:800px){
            padding-bottom: 50px;
        }
        .txtBox{
            .number{
                -webkit-text-stroke: 1px #eee;                
            }
        }
        .btn{
            width: 480px;
            margin: 60px auto 0;
            @media (max-width:800px){
                width: 90%;
                // margin-left: 0;
            }
        }
        .eventBox{
            width: 120%;
            // margin-left: -10%;
            margin-top: 100px;
            ul{
                width: 100%;
                li{
                    // width: 400px !important;
                    height: auto;
                    img {
                        // width: 100% !important;
                        height: auto;
                    }
                    &:hover{ 
                        cursor: pointer;
                        a,img{ cursor: pointer;}
                    }
                }
            }
            .bx-wrapper{
                width: 100%;
                box-shadow: none;
                border: 0;
                background: transparent;
                margin-bottom: 30px;
            }
        }
    }
    .home_about{
        background: url(../img/index/about_bg.jpg) center 160px no-repeat;
        padding-bottom: 90px;
        overflow: hidden;
        // background-attachment: fixed;
        @media (max-width:1600px){
            background-position: 0 160px;
        }
        @media (max-width:960px){
            background: url(../img/index/about_mob_bg.jpg) 0 160px no-repeat;
            background-size: cover;
        }
        .container{
            max-width: 1300px;
            margin: 0 auto;
            @media (max-width:1400px){
                width: 90%;
            }
        }
        .topBox{
            overflow: hidden;
            @media (max-width:960px){
                background-color: #fff;
            }
            .awards{ 
                width: 153px;
                float: left;
                position: relative;
                z-index: 2;
                @media (max-width:960px){
                    float: unset;
                    margin: 0 auto;
                }
                @media (max-width:600px){
                    width: 100px;
                    margin-bottom: 20px;
                }
            }
            h3{
                width: calc(530/1300*100%);
                float: left;
                font-size: 22px;
                line-height: 36px;
                color: #5e6165;
                font-family: 'Noto Serif TC', serif;
                font-weight: 700;
                text-align: right;
                @media (max-width:1280px){
                    width: calc(100% - 180px;);
                    margin-left: 27px;
                    text-align: left;
                }
                @media (max-width:960px){
                    width: 100%;
                    margin-left: 0;
                    text-align: center;
                }
                @media (max-width:600px){
                    font-size: 18px;
                    line-height: 26px;
                }
            }
            p{
                float: left;
                font-size: 18px;
                line-height: 36px;
                color: #5e6165;
                font-weight: 300;
                margin-left: calc(60/1300*100%);
                @media (max-width:1280px){
                    width: calc(100% - 180px;);
                    margin-left: 27px;
                    text-align: left;
                }
                @media (max-width:960px){
                    width: 100%;
                    margin-left: 0;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    text-align: center;
                }
                @media (max-width:600px){
                    font-size: 15px;
                    line-height: 26px;
                }
            }
        }
        .txtBox{
            width: calc(620/1300*100%);
            float: left;
            @media (max-width:1400px){
                width: calc(520/1300*100%);
            }
            @media (max-width:960px){
                width: 100%;
                float: unset;
            }
            .number{
                top: 50px;
                left: 0;
            }
            .title{
                text-align: left;
            }
            h4{
                color: #5e6165;
                font-size: 26px;
                line-height: 36px;
                font-family: 'Noto Serif TC', serif;
                font-weight: 700;
                margin-top: 100px;
            }
            ul{
                margin-top: 30px;
                li{
                    font-size: 18px;
                    line-height: 36px;
                    font-weight: 300;
                    @media (max-width:600px){
                        font-size: 14px;
                    }
                    span{ display: inline-block;}
                }
            }
            .btn{
                margin-left: 0;
                @media (max-width:960px){
                    margin-left: auto;
                    margin-right: auto;
                }
                @media (max-width:800px){
                    width: 90%;
                    // margin-left: 0;
                }
            }
        }
        .serviceBox{
            width: calc(680/1300*100%);
            height: 0;
            padding-bottom: calc(680/1300*100%);
            float: right;
            margin-top: 60px;
            position: relative;
            img{
                position: absolute;
                top: 0;
                left: 0;
            }
            @media (max-width:1400px){
                width: calc(780/1300*100%);
            }
            @media (max-width:960px){
                width: 100%;
                float: unset;
                margin: 50px auto 0;
                padding-bottom: 100%;
            }
        }
    }
    .home_charity{
        padding: 100px 0;
        @media (max-width:800px){
            padding-bottom: 20px;
        }
        &.container{
            max-width: 1520px;
            margin: 0 auto;
            overflow: hidden;
            .txtBox{
                width: 160px;
                float: left;
                margin-left: 80px;
                position: relative;
                margin-right: 20px;
                @media (max-width:800px){
                    width: 100%;
                    float: unset;
                    margin-left: auto;
                    margin-right: auto;
                }
                .number{
                    -webkit-text-stroke: 1px #eee;
                    position: absolute;
                    z-index: 1;
                    top: 30px;
                    left: 10px;
                    @media (max-width:800px){
                        left: 50%;
                        // transform: translateX(-50%);
                        top: 30px;
                    }
                }
                .title{
                    text-align: right;
                    margin-top: 0;
                    margin-left: 0;
                    @media (max-width:800px){
                        width: 100%;
                        text-align: center;
                    }
                }
            }
            .charityBox{
                width: calc(100% - 300px);
                float: right;
                margin-top: 10px;
                @media (max-width:800px){
                    width: 100%;
                    float: unset;
                }
                p{
                    width: 100%;
                    font-size: 18px;
                    line-height: 30px;
                    font-weight: 300;
                    @media (max-width:800px){
                        text-align: center;
                    }
                    @media (max-width:600px){
                        font-size: 14px;
                    }

                }
            }
        }
    }
    .home_charitymemory{
        &.container{
            max-width: 1500px;
            margin: 0 auto;
            @media (max-width:1280px){
                width: 100%;
            }
            @media (max-width:1200px){
                width: 96%;
            }
            .timeBox{
                .year{
                    height: 80px;
                    text-align: center;
                    position: relative;
                    &:before, &:after{
                        content: "...................................................................................................................................................";
                        width: 50%;
                        height: 12px;
                        line-height: 12px;
                        font-size: 12px;
                        display: block;
                        position: absolute;
                        z-index: 1;
                        top: 50%;
                        margin-top: -10px;
                        overflow: hidden;
                        letter-spacing: 2px;
                    }
                    &:before{
                        left: 0;
                    }
                    &:after{
                        right: 0;
                    }
                    span{
                        font-family: 'Cardo', serif;
                        font-size: 48px;
                        line-height: 80px;
                        color: #ececec;
                        font-weight: 400;
                        font-style: italic;
                        transition: all .3s;
                        padding: 0 20px;
                        display: inline-block;
                        position: relative;
                        z-index: 2;
                        background-color: #fff;
                        @media (max-width:960px){
                            font-size: 32px;
                        }
                        @media (max-width:800px){
                            font-size: 24px
                        }
                        @media (max-width:480px){
                            font-size: 15px;
                            padding: 0 5px;
                        }
                        &:before, &:after{
                            content: "";
                            width: 6px;
                            height: 6px;
                            border-radius: 50%;
                            display: block;
                            position: absolute;
                            top: 50%;
                            margin-top: -3px;
                            background-color: #5e6165;
                            @media (max-width:480px){
                                display: none;
                            }

                        }
                        &:before{
                            left: 0;
                        }
                        &:after{
                            right: 0;
                        }
                    }
                }
                .slick-slide:first-child{
                    .year{
                        &:before{
                            display: none;
                        }
                        span{
                            &:before{
                                display: none;
                            }
                        }
                    }

                }
                .slick-slide:last-child{
                    .year{
                        &:after{
                            display: none;
                        }
                        span{
                            &:after{
                                display: none;
                            }
                        }
                    }

                }

                .slick-current{
                    .year{
                        height: 80px;
                        span{
                            line-height: 80px;
                            color: #5e6165;
                            font-size: 80px;
                            @media (max-width:960px){
                                font-size: 60px
                            }
                            @media (max-width:800px){
                                font-size: 40px
                            }
                            @media (max-width:480px){
                                font-size: 36px
                            }
                        }
                    }
                }
            }
            .caseBox{
                margin-top: 45px;
                position: relative;
                @media (max-width:800px){
                    margin-top: 0;
                }
                .caseItem{
                    background: url(../img/index/charity_bg.png) 10% center no-repeat #ececec;
                    overflow: hidden;
                    
                    @media (max-width:1200px){
                        background-position: center 5%;
                    }
                    .txtBox{
                        width: 50%;
                        height: 500px;
                        float: left;
                        padding: 50px;
                        position: relative;
    
                        @media (max-width:1200px){
                            width: 100%;
                        }
                        @media (max-width:800px){
                            padding: 80px 20px 120px;
                            height: auto;
                        }
                        .txtItem{
                            height: 240px;
                            position: absolute;
                            margin: auto;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            @media (max-width:800px){
                                height: auto;
                                position: static;
                                top: unset;
                                right: unset;
                                bottom: unset;
                                left: unset;
                            }
                            h4{
                                color: #5e6165;
                                font-size: 30px;
                                line-height: 36px;
                                font-family: 'Noto Serif TC', serif;
                                font-weight: 600;
                                text-align: center;
                                margin-bottom: 20px;
                                @media (max-width:600px){
                                    font-size: 22px;
                                    line-height: 28px;
                                }
                            }
                            p{
                                font-size: 18px;
                                line-height: 36px;
                                text-align: center;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-line-clamp: 5;
                                -webkit-box-orient: vertical;
                                @media (max-width:600px){
                                    font-size: 14px;
                                    line-height: 22px;
                                }
                            }

                        }
                    }
                    .imgBox{
                        width: 50%;
                        float: left;
                        position: relative;
                        @media (max-width:1380px){
                            padding: 5%;
                        }
                        @media (max-width:1200px){
                            width: 100%;
                            padding: 0;
                        }
                    }


                    .slick-slide{
                        position: relative;
                        margin-bottom: -4px !important;
                        .case_overlay{
                            // width: 0;
                            height: 200%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            background-color: #cbeeff;
                        }
                        &.slick-active{
                            .case_overlay{
                                animation: overlay .6s .2s both;
                                @keyframes overlay {
                                    0%{
                                        width: 100%;
                                        left: 0;
                                    }
                                    99%{
                                        width: 100%;
                                        left: 100%;
                                    }
                                    100%{
                                        width: 0%;
                                        left: 100%;
                                    }
                                }

                            }
                        }

                    }
                }
                .pagingInfo, .slider__counter{
                    font-family: 'Noto Serif TC', serif !important;
                    width: 400px;
                    position: absolute;
                    z-index: 5;
                    bottom: 60px;
                    left: 50px;
                    font-size: 16px;
                    @media (max-width:1200px){
                        width: calc(100% - 200px);
                        bottom: unset;  
                        top: 440px; 
                    }
                    @media (max-width:800px){
                        width: calc(100% - 80px);
                        top: 326px; 
                        left: 20px;
                    }
                    @media (max-width:600px){
                        top: 256px;
                    }
                    @media (max-width:440px){
                        top: 296px;
                    }
                    @media (max-width:380px){
                        top: 316px;
                    }
                    .progressBar {
                        width: 100%;
                        display: inline-block;
                        // margin-right: -4px;
                        width: 240px;
                        height: 1px;
                        position: relative;
                        background: #bbb;
                        vertical-align: middle;
                        margin: 0 10px;
                        @media (max-width:1200px){
                            width: calc( 100% - 100px);
                        }    
                        .coverline{
                            width: 20%;
                            height: 1px;
                            left: 0;
                            top: 0;
                            position: absolute;
                            background: #000;
                        }  
                    }
                }

            }
        }
    }
    .home_contact{
        padding: 60px 0;
        margin-top: 100px;
        background-color: #ececec;
        position: relative;
        z-index: 5;
        // &:after{
        //     content: "";
        //     width: 100%;
        //     height: 200px;
        //     background-color: #161616;
        //     position: absolute;
        //     z-index: -1;
        //     bottom: 0;
        //     left: 0;
        // }
        .txtBox{
            .number{
                @media (max-width:800px){
                    left: 50%;
                    transform: translateX(-50%);
                    top: -50px;
                }
            }
            .title{
                @media (max-width:800px){
                    text-align: center;
                    margin: 0 auto;
                }

            }
        }
        .contactForm{
            background-color: #fff;
            &.container{
                width: 90%;
                max-width: 1500px;
                margin: 60px auto 0;
                padding: 50px;
            }
            .formBox{
                overflow: hidden;
                padding-bottom: 30px;
                .group{
                    width: 48%;
                    float: left;
                    margin-right: 4%;
                    @media (max-width:1200px){
                        width: 100%;
                        float: unset;
                        margin: 0 auto;
                    }
                    &:nth-child(2){
                        margin-right: 0;
                        @media (max-width:1200px){
                            margin: 0 auto;
                        }
                    }
                    .item{
                        width: 100%;
                        border-bottom: 1px solid #9c9c9c;
                        margin-top: 20px;
                        overflow: hidden;
                        &:first-child{ margin-top: 0;}
                        &.noline{ 
                            border-bottom: 0; 
                            margin-top: 30px;
                            @media (max-width:640px){
                                width: 220px;
                                margin: 0 auto;
                            }
                        }
                        label{
                            width: 120px;
                            float: left;
                            height: 80px;
                            line-height: 80px;
                            font-size: 18px;
                            font-weight: 300;
                            &.checktxt{
                                width: calc( 100% - 220px);
                                @media (max-width:640px){
                                    font-size: 14px;
                                    width: 100%;
                                    float: unset;
                                }
                            }
                        }
                        input[type="text"]{
                            width: calc(100% - 120px);
                            height: 80px;
                            line-height: 80px;
                            float: right;
                            background-color: transparent;
                            font-size: 18px;
                            @media (max-width:600px){
                                font-size: 14px;
                            }
                            &:focus{
                                outline: 0;
                            }
                        }
                        input[type="checkbox"]{
                            width: 24px;
                            height: 24px;
                            float: left;
                            border: 1px solid #000;
                            margin-top: 30px;
                            margin-right: 10px;
                            padding: 0;
                            &:focus{
                                outline: 0;
                            }
                            &:checked{
                                outline: 0;
                                bottom: 0;
                                &:after{
                                    width: 20px;
                                    height: 20px;
                                    content: "";
                                    background: url(../img/check.svg) 0 0 no-repeat;
                                    position: absolute;
                                    z-index: 3;
                                    top: 0;
                                    left: 0;
                
                                }
                            }
                        }
                        textarea{
                            width: 100%;
                            background-color: transparent;
                            border: 0;
                            font-size: 18px;
                            height: 96px;
                            resize: none;
                            @media (max-width:600px){
                                font-size: 14px;
                            }
                            &:checked, &:focus{
                                outline: 0;
                            }
                        }
                    }
                }
                button{
                    width: 160px;
                    float: right;
                    height: 50px;
                    border: 1px solid #000;
                    background: transparent;
                    color: #424242;
                    font-size: 20px;
                    text-align: center;
                    margin-top: 15px;
                    transition: all .3s;
                    position: relative;
                    padding: 0;
                    @media (max-width:640px){
                        font-size: 16px;
                        float: unset;
                        margin: 0 auto;
                        display: block;
                    }
                    &::after{
                      content: "";
                      width: 0;
                      height: 100%;
                      background: #000;
                      position: absolute;
                      z-index: 1;
                      left: 0;
                      top: 0;
                      transition: all .3s;
                    }
                    i{
                        width: 20px;
                        height: 2px;
                        display: block;
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        transform: translateY(-50%);
                        overflow: hidden;
                        // background: #000;
                        display: none;
                    }
                    a{
                        transition: all .3s;
                        text-transform: uppercase;
                        color: #000;
                        position: relative;
                        z-index: 5;
                    }
                    &:hover{
                        cursor: pointer;
                        &::after{
                          width: 100%;
                        }
                        i{
                          height: auto;
                          background: transparent;
                          color: #fff;
                          font-size: 15px;
                          animation: arrow 1s both;
                          display: block;
                          @keyframes arrow {
                            from{ opacity: 0; right: 50px;}
                            to{ opacity: 1; right: 5px;}
                          }
                    
                        }
                        a{ color: #fff;}
                    }
                }
            }
            
        }
    }
}
//首頁CURRENT PROJECT輪播
.slider-img{
    .slick-prev, .slick-next{
        width: 36px;
        height: 36px;
        bottom: -130px;
        top: unset;
        z-index: 5;
        transition: all .3s;
        @media (max-width:1200px){
            bottom: -80px;
        }
        &:before{
            color: #000;
            font-size: 36px;
            opacity: .5;
            transition: all .3s;
        }
        &:hover{
            &:before{
                opacity: 1;
            }
        }
    }
    .slick-prev{ 
        left: unset;
        right: 340px;
        &:hover{
            transform: translate(-10px,-50%);
            @media (max-width:800px){
                transform: translate(0,-50%);
            }
        }
        @media (max-width:1200px){
            right: 160px;
        }
        @media (max-width:800px){
            right: 110px;
        }
        &:before {
            font-family: 'Material Icons';
            content: '\e5cb';
          }
    }
    .slick-next{ 
        right: 300px;
        &:hover{
            transform: translate(10px,-50%);
            @media (max-width:800px){
                transform: translate(0,-50%);
            }
        }
        @media (max-width:1200px){
            right: 120px;
        }
        @media (max-width:800px){
            right: 70px;
        }
        &:before {
            font-family: 'Material Icons';
            content: '\e5cc';
          }
    }
}

//首頁charity輪播
.slider-singlecase{
    position: relative;
    .slick-prev, .slick-next{
        width: 36px;
        height: 36px;
        bottom: 30px;
        top: unset;
        z-index: 5;
        transition: all .3s;
        @media (max-width:1200px){
            bottom: unset;
            top: 450px;
        }
        @media (max-width:800px){
            top: 370px;
        }
        @media (max-width:600px){
            top: 300px;
        }
        @media (max-width:440px){
            top: 340px;
        }
        @media (max-width:380px){
            top: 360px;
        }
        &:before{
            color: #000;
            font-size: 36px;
            opacity: .5;
            transition: all .3s;
        }
        &:hover{
            &:before{
                opacity: 1;
            }
        }
    }
    .slick-prev{ 
        left: unset;
        right: calc(50% + 90px);
        &:hover{
            transform: translate(-10px,-50%);
        }
        @media (max-width:1200px){
            right: 100px;
        }
        @media (max-width:800px){
            right: 60px;
        }
        &:before {
            font-family: 'Material Icons';
            content: '\e5cb';
        }
    }
    .slick-next{ 
        right: calc(50% + 50px);
        &:hover{
            transform: translate(10px,-50%);
        }
        @media (max-width:1200px){
            right: 40px;
        }
        @media (max-width:800px){
            right: 20px;
        }
        &:before {
            font-family: 'Material Icons';
            content: '\e5cc';
        }
    }
}
.slider-time{
    .slick-prev, .slick-next{
        width: 36px;
        height: 36px;
        z-index: 5;
        background-color: #fff;
        transition: all .3s;
        &:before{
            color: #000;
            font-size: 36px;
            opacity: .5;
            transition: all .3s;
        }
        &:hover{
            &:before{
                opacity: 1;
            }
        }
    }
    .slick-prev{ 
        left: 0;
        &:hover{
            transform: translate(-10px,-50%);
        }
        &:before {
            font-family: 'Material Icons';
            content: '\e5cb';
          }
    }
    .slick-next{ 
        right: 0;
        &:hover{
            transform: translate(10px,-50%);
        }
        &:before {
            font-family: 'Material Icons';
            content: '\e5cc';
          }
    }
}
.slider_kv{
    .slick-dots {
        bottom: 25px;
        li{
            width: 50px;
            height: 10px;
            @media (orientation: portrait) and (max-width: 960px), (max-width: 800px) {
                width: 30px;
            }
            @media (max-width: 540px) {
                width: 15px;
                margin: 0 3px;
            }
            button{
                width: 50px;
                height: 10px;
                padding: 0;
                @media (orientation: portrait) and (max-width: 960px), (max-width: 800px) {
                    width: 30px;
                }
                @media (max-width: 540px) {
                    width: 15px;
                }
                &:before{
                    content: '';
                    width: 50px;
                    height: 3px;
                    background: #000;
                    opacity: .5;
                    @media (orientation: portrait) and (max-width: 960px), (max-width: 800px) {
                        width: 30px;
                    }
                    @media (max-width: 540px) {
                        width: 15px;
                    }
                }
            }
            &.slick-active{
                button{
                    &:before{
                        opacity: 1;
                    }
                }
            }
        }
    }
}
.slick-slide{
    position: relative;
    &:before{
        content: "";
        width: 100%;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
    }
    &:before{
        animation: cover 1s;
    }
}
@keyframes cover{
    from{ height: 100%;}
    to  { height: 0;}
}

// .slick-current:first-child{
//     &:before{
//         animation: cover 1s;
//     }
// }
// @keyframes cover{
//     from{ height: 100%;}
//     to  { height: 0;}
// }
.slider__counter {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    z-index: 1;
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
    // mix-blend-mode: difference;
    pointer-events: none;
  }


