@import '_setting';
@import '_header';
@import '_footer';

section{

    h2{ 
        font-size: 46px;
        line-height: 1;
        font-weight: 600;
        letter-spacing: 6px;
    }
    h3{
        font-size: 22px;
        line-height: 1;
        font-weight: 200;
        letter-spacing: 1px;
        color: #a6936a;
    }

    .more, .send{
        width: 100%;
        position: relative;
        transition: all .3s;
        a{
            padding: 0 10px;
            color: #a6936a;
            font-size: 22px;
            line-height: 1.8;
            position: relative;
            transition: all .3s;
        }
        &:after{
            content: "";
            width: 0;
            height: 0;
            display: block;
            border-style: solid;
            border-width: 7px 0 7px 14px;
            border-color: transparent transparent transparent #a6936a;
            position: absolute;
            right: 10px;
            top: 13px;
            transition: all .3s;
        }
        &:hover{
            background-color: #a6936a;
            a{ color: #fff;}
            &:after{
                border-color: transparent transparent transparent #fff;
            }
        }
    }

    .page_news{
        padding: 200px 0 60px;
        overflow: hidden;
        background: url(../img/page_news_bg_top.jpg ) center top no-repeat,
                    url(../img/page_news_bg_bottom.jpg) center bottom no-repeat #f6f4f2;
        background-size: contain; 
        position: relative;
        .news_title{
            width: 100%;
            padding: 40px 60px;
            h2{ 
                margin-top: 10px;
                text-align: center;
            }
            h3{ 
                text-align: center;
            }
        }
        .news_content{
            width: 88%;
            margin: 0 auto;
            .news_item{
                width: calc( 100% - 160px);
                margin: 0 auto;
                padding: 96px 160px 200px;
                background: #fff;
                li{
                    padding: 20px 0;
                    text-align: justify;
                    overflow: hidden;
                    border-bottom: 1px dashed #a6936a;
                    a{ color: #a6936a;}
                    span{ 
                        display: block; 
                        float: left;
                    }
                    .news_item_date{
                        width: 140px;
                        font-size: 22px;
                        line-height: 1;
                    }
                    .news_item_title{
                        width: calc( 100% - 140px );
                        font-size: 18px;
                        line-height: 1.22;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        -webkit-line-clamp: 1;
                    }
                }
            }
        }

        .news_navigation{
            width: 102px;
            margin: -122px auto 0;
            .page-link{
                border-radius: 0;
                width: 56px;
                height: 56px;
                font-size: 24px;
                color: #a6936a;
                text-align: center;
                line-height: 46px;
                transition: all .3s;
                background: transparent;
                &:focus, &:hover, &:active{
                    outline: 0;
                    box-shadow: none;
                    background-color: #000;
                    color: #fff;
                }
            }
            .active{
                outline: 0;
                box-shadow: none;
                background-color: #000;
                a{ 
                    color: #fff;
                    border-color: #dee2e6;
                }
            }
        }

        .news_navigation_arrow{
            width: calc( 88% - 40px );
            height: 50px;
            margin: -60px auto 0;
    
            .news_navigation_left{
                width: 24%;
                float: left;
            }
            .news_navigation_right{
                width: 24%;
                float: right;
            }
        }
    }


}