@import '_setting';
@import '_header';
@import '_footer';

section{

    h2{ 
        font-size: 46px;
        line-height: 1;
        font-weight: 600;
        letter-spacing: 6px;
    }
    h3{
        font-size: 22px;
        line-height: 1;
        font-weight: 200;
        letter-spacing: 1px;
        color: #a6936a;
    }

    .more, .send{
        width: 100%;
        position: relative;
        transition: all .3s;
        a{
            padding: 0 10px;
            color: #a6936a;
            font-size: 22px;
            line-height: 1.8;
            position: relative;
            transition: all .3s;
        }
        &:after{
            content: "";
            width: 0;
            height: 0;
            display: block;
            border-style: solid;
            border-width: 7px 0 7px 14px;
            border-color: transparent transparent transparent #a6936a;
            position: absolute;
            right: 10px;
            top: 13px;
            transition: all .3s;
        }
        &:hover{
            background-color: #a6936a;
            a{ color: #fff;}
            &:after{
                border-color: transparent transparent transparent #fff;
            }
        }
    }

    .home_event{
        width: 100%;
        position: relative;

        .home_event_banner{
            width: 100%;
            position: relative;
            left: 0;
            overflow: hidden;
            &:after{
                content: "";
                width: 100%;
                height: 0;
                padding-bottom: 48%;
                display: block;
                background: url(../img/event_bg.png) center bottom no-repeat;
                background-size: cover;
                position: absolute;
                top: 0;
                left: 0;
            }

            .slick-prev{
                top: auto;
                left: auto;
                bottom: 16px;
                right: 165px;
                z-index: 5;
                &:before{
                    width: 0;
                    height: 0;
                    display: inline-block;
                    border-style: solid;
                    border-width: 7px 14px 7px 0;
                    border-color: transparent #a6936a transparent transparent;
                    opacity: 1;
                }
            }

            .slick-next{
                top: auto;
                left: auto;
                bottom: 16px;
                right: 65px;
                z-index: 5;
                &:before{
                    width: 0;
                    height: 0;
                    display: inline-block;
                    border-style: solid;
                    border-width: 7px 0 7px 14px;
                    border-color: transparent transparent transparent #a6936a;
                    opacity: 1;
                }
            }
        }

        .home_event_nav_number{
            width: 82px;
            position: absolute;
            bottom: 25px;
            right: 82px;
            color: #a6936a;
            font-size: 24px;
            text-align: center;
            letter-spacing: 3px;
            span{
                color: #a6936a;

            }

        }

    }

    .home_works{
        padding-left: 10%;
        padding-top: 80px;
        overflow: hidden;
        background: url(../img/works_bg.jpg) center top no-repeat;
        background-size: cover; 
        .home_works_title{
            width: 260px;
            float: left;
            padding-top: 10px;
            h2{ 
                writing-mode: vertical-lr;
                float: left;
                margin-right: 10px;
            }
            h3{
                float: left;
                writing-mode: vertical-lr;
            }
        }

        .home_works_content{
            width: calc( 100% - 260px );
            // padding-left: 100px;
            float: right;
            .home_works_more{
                color: #a6936a;
                background-color: #fff;
                padding-bottom: 60px;
                a{
                    width: 195px;
                    float: right;
                    padding: 0 40px;
                }
                &:before{
                    content: "";
                    width: calc( 100% - 195px;);
                    height: 1px;
                    background: #a6936a;
                    position: absolute;
                    top: 18px;
                    left: 20px;
                }
                &:after{
                    right: 65px;
                    // top: 4px;
                }
                &:hover{
                    background-color: #fff;
                    a{ color: #a6936a;}
                    &:after{
                        border-color: transparent transparent transparent #a6936a;
                    }
                }
            }
            .home_works_photo{
                width: 113%;
                .home_works_photo_box{
                    .home_works_photo_item{
                        padding: 0 20px 40px;
                        .home_works_photo_item_caption{
                            // width: 80%;
                            float: left;
                            margin-top: 50px;
                            h5{
                                margin-bottom: 12px;
                                font-size: 26px;
                                font-weight: 500;
                            }
                            p{
                                font-size: 15px;
                                color: #a6936a;
                            }
                        }
                        .home_works_photo_item_year{
                            // width: 20%;
                            float: right;
                            margin-top: 52px;
                            font-size: 32px;
                            color: #a6936a;
                        }
                    }
                }

                .slick-prev{
                    width: 64px;
                    height: 64px;
                    border: 1px solid #a6936a;
                    top: auto;
                    left: -260px;
                    bottom: 80px;
                    right: auto;
                    z-index: 5;
                    &:before{
                        width: 0;
                        height: 0;
                        display: inline-block;
                        border-style: solid;
                        border-width: 7px 14px 7px 0;
                        border-color: transparent #a6936a transparent transparent;
                        opacity: 1;
                        position: absolute;
                        top: 24px;
                        left: 24px;
                    }
                }
    
                .slick-next{
                    width: 64px;
                    height: 64px;
                    border: 1px solid #a6936a;
                    top: auto;
                    left: -260px;
                    bottom: 17px;
                    right: auto;
                    z-index: 5;
                    &:before{
                        width: 0;
                        height: 0;
                        display: inline-block;
                        border-style: solid;
                        border-width: 7px 0 7px 14px;
                        border-color: transparent transparent transparent #a6936a;
                        opacity: 1;
                        position: absolute;
                        top: 24px;
                        left: 24px; 
                    }
                }

            }
        }
        
    }

    .home_news{
        padding: 140px 10% 60px;
        overflow: hidden;
        background: url(../img/news_bg.jpg) center top no-repeat;
        background-size: cover; 
        .home_news_title{
            float: left;
            border-left: 1px solid #a6936a;
            padding: 40px 60px;
            h2{ 
                margin-top: 10px;
            }
            .home_news_more{
                border: 1px solid #a6936a;
                margin-top: 100px;
            }
        }
        .home_news_content{
            padding-right: 40px;
            border-right: 1px solid #a6936a;
            .home_news_item{
                padding: 10px 0;
                li{
                    padding: 20px 0;
                    text-align: justify;
                    overflow: hidden;
                    border-bottom: 1px dashed #a6936a;
                    a{ color: #a6936a;}
                    span{ 
                        display: block; 
                        float: left;
                    }
                    .news_date{
                        width: 140px;
                        font-size: 22px;
                        line-height: 1;
                    }
                    .news_title{
                        width: calc( 100% - 140px );
                        font-size: 18px;
                        line-height: 1.22;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        -webkit-line-clamp: 1;
                    }
                }
            }
        }
    }

    .home_contactus{
        padding: 25px 10%;
        overflow: hidden;
        background: url(../img/contactus_bg.jpg) center top no-repeat;
        background-size: cover; 
        .home_contactus_title{
            h2{ 
                margin-top: 10px;
                text-align: center;
            }
            h3{ 
                text-align: center;
            }
            p{
                font-size: 18px;  
                text-align: center;
                margin: 30px 0;
                span{ 
                    color: #a6936a;
                }       
            }
        }
        .home_contactus_content{
            .home_contactus_form{
                padding: 40px;
                position: relative;
                overflow: hidden;
                .home_contactus_form_item{
                    width: calc( 50% - 80px) ;
                    float: left;
                    margin: 0 40px 50px;
                    font-size: 22px;
                    color: #a6936a;
                    overflow: hidden;

                    &.fullwidth{
                        width: calc( 100% - 80px) ;
                    }

                    label{
                        width: 100%;
                        display: block;
                        a{
                            color: #a6936a;
                            display: inline;
                            text-decoration: underline;
                            font-size: 16px;
                        }
                        span{
                            color: #a6936a;
                        }
                    }
                    select{
                        width: 100%;
                        height: 70px;
                        line-height: 70px;
                        border: 0;
                        background-color: transparent;
                        border-bottom: 1px solid #a6936a;
                        color: #a6936a;
                        font-size: 18px;
                        &:focus{
                            outline: 0;
                        }
                    }
                    input[type="text"]{
                        width: 100%;
                        height: 70px;
                        line-height: 70px;
                        background-color: transparent;
                        border-bottom: 1px solid #a6936a;
                        color: #a6936a;
                        &:focus{
                            outline: 0;
                        }
                    }
                    input[type="checkbox"]{
                        width: 24px;
                        height: 24px;
                        border: 1px solid #000;
                        margin-top: 5px;
                        margin-right: 10px;
                        padding: 0;
                        float: left;
                        &:focus{
                            outline: 0;
                        }
                        &:checked{
                            outline: 0;
                            bottom: 0;
                            &:after{
                                width: 22px;
                                height: 22px;
                                content: "";
                                background: url(../img/check.svg) 0 0 no-repeat;
                                position: absolute;
                                z-index: 3;
                                top: 2px;
                                left: 0;
            
                            }
                        }
                    }
                    textarea{
                        width: 100%;
                        background-color: transparent;
                        border: 0;
                        border-bottom: 1px solid #a6936a;
                        font-size: 18px;
                        height: 96px;
                        resize: none;
                        @media (max-width:600px){
                            font-size: 14px;
                        }
                        &:checked, &:focus{
                            outline: 0;
                        }
                    }
                    

                }

                button{
                    width: 200px;
                    height: 50px;
                    font-size: 24px;
                    text-align: left;
                    padding: 0 12px;
                    position: absolute;
                    right: 0;
                    bottom: 80px;
                    border: 1px solid #a6936a;
                    background: #fff;
                    font-family: 'Noto Serif TC', serif;
                    font-weight: 600;
                    color: #a6936a;
                    transition: all .3s;
                    &:after{
                        right: 12px;
                        top: 16px;
                    }
                    &:hover{ 
                        cursor: pointer;
                        background: #a6936a;
                        color: #fff;
                    }
                }
            }
        }
    }

}
//首頁CURRENT PROJECT輪播
.slider-img{
    .slick-prev, .slick-next{
        width: 36px;
        height: 36px;
        bottom: -130px;
        top: unset;
        z-index: 5;
        transition: all .3s;
        @media (max-width:1200px){
            bottom: -80px;
        }
        &:before{
            color: #000;
            font-size: 36px;
            opacity: .5;
            transition: all .3s;
        }
        &:hover{
            &:before{
                opacity: 1;
            }
        }
    }
    .slick-prev{ 
        left: unset;
        right: 340px;
        &:hover{
            transform: translate(-10px,-50%);
            @media (max-width:800px){
                transform: translate(0,-50%);
            }
        }
        @media (max-width:1200px){
            right: 160px;
        }
        @media (max-width:800px){
            right: 110px;
        }
        &:before {
            font-family: 'Material Icons';
            content: '\e5cb';
          }
    }
    .slick-next{ 
        right: 300px;
        &:hover{
            transform: translate(10px,-50%);
            @media (max-width:800px){
                transform: translate(0,-50%);
            }
        }
        @media (max-width:1200px){
            right: 120px;
        }
        @media (max-width:800px){
            right: 70px;
        }
        &:before {
            font-family: 'Material Icons';
            content: '\e5cc';
          }
    }
}

//首頁charity輪播
.slider-singlecase{
    position: relative;
    .slick-prev, .slick-next{
        width: 36px;
        height: 36px;
        bottom: 30px;
        top: unset;
        z-index: 5;
        transition: all .3s;
        @media (max-width:1200px){
            bottom: unset;
            top: 450px;
        }
        @media (max-width:800px){
            top: 370px;
        }
        @media (max-width:600px){
            top: 300px;
        }
        @media (max-width:440px){
            top: 340px;
        }
        @media (max-width:380px){
            top: 360px;
        }
        &:before{
            color: #000;
            font-size: 36px;
            opacity: .5;
            transition: all .3s;
        }
        &:hover{
            &:before{
                opacity: 1;
            }
        }
    }
    .slick-prev{ 
        left: unset;
        right: calc(50% + 90px);
        &:hover{
            transform: translate(-10px,-50%);
        }
        @media (max-width:1200px){
            right: 100px;
        }
        @media (max-width:800px){
            right: 60px;
        }
        &:before {
            font-family: 'Material Icons';
            content: '\e5cb';
        }
    }
    .slick-next{ 
        right: calc(50% + 50px);
        &:hover{
            transform: translate(10px,-50%);
        }
        @media (max-width:1200px){
            right: 40px;
        }
        @media (max-width:800px){
            right: 20px;
        }
        &:before {
            font-family: 'Material Icons';
            content: '\e5cc';
        }
    }
}
.slider-time{
    .slick-prev, .slick-next{
        width: 36px;
        height: 36px;
        z-index: 5;
        background-color: #fff;
        transition: all .3s;
        &:before{
            color: #000;
            font-size: 36px;
            opacity: .5;
            transition: all .3s;
        }
        &:hover{
            &:before{
                opacity: 1;
            }
        }
    }
    .slick-prev{ 
        left: 0;
        &:hover{
            transform: translate(-10px,-50%);
        }
        &:before {
            font-family: 'Material Icons';
            content: '\e5cb';
          }
    }
    .slick-next{ 
        right: 0;
        &:hover{
            transform: translate(10px,-50%);
        }
        &:before {
            font-family: 'Material Icons';
            content: '\e5cc';
          }
    }
}
.slider_kv{
    .slick-dots {
        bottom: 25px;
        li{
            width: 50px;
            height: 10px;
            @media (orientation: portrait) and (max-width: 960px), (max-width: 800px) {
                width: 30px;
            }
            @media (max-width: 540px) {
                width: 15px;
                margin: 0 3px;
            }
            button{
                width: 50px;
                height: 10px;
                padding: 0;
                @media (orientation: portrait) and (max-width: 960px), (max-width: 800px) {
                    width: 30px;
                }
                @media (max-width: 540px) {
                    width: 15px;
                }
                &:before{
                    content: '';
                    width: 50px;
                    height: 3px;
                    background: #000;
                    opacity: .5;
                    @media (orientation: portrait) and (max-width: 960px), (max-width: 800px) {
                        width: 30px;
                    }
                    @media (max-width: 540px) {
                        width: 15px;
                    }
                }
            }
            &.slick-active{
                button{
                    &:before{
                        opacity: 1;
                    }
                }
            }
        }
    }
}
.slick-slide{
    position: relative;
    &:before{
        content: "";
        width: 100%;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
    }
    &:before{
        animation: cover 1s;
    }
}
@keyframes cover{
    from{ height: 100%;}
    to  { height: 0;}
}

// .slick-current:first-child{
//     &:before{
//         animation: cover 1s;
//     }
// }
// @keyframes cover{
//     from{ height: 100%;}
//     to  { height: 0;}
// }
.slider__counter {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    z-index: 1;
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
    // mix-blend-mode: difference;
    pointer-events: none;
  }


