@import '_setting';
@import '_header';
@import '_footer';

section{

    h2{ 
        font-size: 46px;
        line-height: 1;
        font-weight: 600;
        letter-spacing: 6px;
    }
    h3{
        font-size: 22px;
        line-height: 1;
        font-weight: 200;
        letter-spacing: 1px;
        color: #a6936a;
    }

    .more, .send{
        width: 100%;
        position: relative;
        transition: all .3s;
        a{
            padding: 0 10px;
            color: #a6936a;
            font-size: 22px;
            line-height: 1.8;
            position: relative;
            transition: all .3s;
        }
        &:after{
            content: "";
            width: 0;
            height: 0;
            display: block;
            border-style: solid;
            border-width: 7px 0 7px 14px;
            border-color: transparent transparent transparent #a6936a;
            position: absolute;
            right: 10px;
            top: 13px;
            transition: all .3s;
        }
        &:hover{
            background-color: #a6936a;
            a{ color: #fff;}
            &:after{
                border-color: transparent transparent transparent #fff;
            }
        }
    }

    .page_works{
        padding: 200px 0 60px;
        overflow: hidden;
        background: url(../img/page_works_bg_top.jpg) center top no-repeat,
                    url(../img/page_works_bg_bottom.jpg) center bottom no-repeat;
        background-size: contain; 
        position: relative;

        .works_title{
            width: 100%;
            padding-left: 10%;
            position: relative;
            overflow: hidden;

            h2{ 
                writing-mode: vertical-lr;
                float: left;
                margin-right: 10px;
            }
            h3{
                float: left;
                writing-mode: vertical-lr;
            }

            .works_tab{
                width: 260px;
                position: absolute;
                bottom: 0;
                right: 6%;
                li{
                    font-size: 18px;
                    line-height: 1;
                    color: #a6936a;
                    float: left;
                    border-right: 1px solid #a6936a;
                    padding: 0 20px;
                    &:last-child{
                        border-right: 0
                    }
                    &.active{
                        opacity: .8;
                    }
                    &:hover{
                        cursor: pointer;
                    }
                }
    
            }
        }

        .works_content{
            width: 100%;
            margin-top: 75px;
            .works_photo{
                width: 88%;
                margin: 0 auto;
                overflow: hidden;
                .works_photo_item{
                    width: calc( 100% / 3);
                    padding: 0 20px 60px;
                    float: left;
                    .works_photo_item_caption{
                        // width: 80%;
                        float: left;
                        margin-top: 40px;
                        h5{
                            margin-bottom: 12px;
                            font-size: 26px;
                            font-weight: 500;
                        }
                        p{
                            font-size: 15px;
                            color: #a6936a;
                        }
                    }
                    .works_photo_item_year{
                        // width: 20%;
                        float: right;
                        margin-top: 52px;
                        font-size: 32px;
                        color: #a6936a;
                    }
                }

                .slick-prev{
                    width: 64px;
                    height: 64px;
                    border: 1px solid #a6936a;
                    top: auto;
                    left: -260px;
                    bottom: 80px;
                    right: auto;
                    z-index: 5;
                    &:before{
                        width: 0;
                        height: 0;
                        display: inline-block;
                        border-style: solid;
                        border-width: 7px 14px 7px 0;
                        border-color: transparent #a6936a transparent transparent;
                        opacity: 1;
                        position: absolute;
                        top: 24px;
                        left: 24px;
                    }
                }
    
                .slick-next{
                    width: 64px;
                    height: 64px;
                    border: 1px solid #a6936a;
                    top: auto;
                    left: -260px;
                    bottom: 17px;
                    right: auto;
                    z-index: 5;
                    &:before{
                        width: 0;
                        height: 0;
                        display: inline-block;
                        border-style: solid;
                        border-width: 7px 0 7px 14px;
                        border-color: transparent transparent transparent #a6936a;
                        opacity: 1;
                        position: absolute;
                        top: 24px;
                        left: 24px; 
                    }
                }

            }
        }

        .works_navigation{
            width: 102px;
            margin: 0 auto;
            .page-link{
                border-radius: 0;
                width: 56px;
                height: 56px;
                font-size: 24px;
                color: #a6936a;
                text-align: center;
                line-height: 46px;
                transition: all .3s;
                background: transparent;
                &:focus, &:hover, &:active{
                    outline: 0;
                    box-shadow: none;
                    background-color: #000;
                    color: #fff;
                }
            }
            .active{
                outline: 0;
                box-shadow: none;
                background-color: #000;
                a{ 
                    color: #fff;
                    border-color: #dee2e6;
                }
            }
        }

        .works_navigation_arrow{
            width: calc( 88% - 40px );
            height: 50px;
            margin: -60px auto 0;
    
            .works_navigation_left{
                width: 24%;
                float: left;
            }
            .works_navigation_right{
                width: 24%;
                float: right;
            }
        }
        
    }


}